/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@font-face {
  font-family: 'centuryGothamReg';
  src: url('/assets/fonts/century-gothic-paneuropean-cufonfonts/CenturyGothicPaneuropeanRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'centuryGothamBold';
  src: url('/assets/fonts/century-gothic-paneuropean-cufonfonts/CenturyGothicPaneuropeanBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@theme {
  --color-primary: #14176C;
  --font-montserrat: 'Montserrat';
  --gotham: 'centuryGothamReg';
  --animate-wiggle: wiggle 1s ease-in-out infinite;

  @keyframes wiggle {

    0%,
    100% {
      transform: rotate(-3deg);
    }

    50% {
      transform: rotate(3deg);
    }
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Montserrat, "Helvetica Neue", sans-serif !important;
}

.gotham-font {
  font-family: centuryGothamReg !important;
}
.gotham-font-bold {
  font-family: centuryGothamBold !important;
}