<app-spinner>

</app-spinner>
<app-header [phoneVideoPath]="videoLink" [webVideoPath]="videoLink">

    <div
        class="text-white relative min-h-screen flex flex-col justify-center items-center px-6 sm:px-12  bg-center bg-no-repeat bg-fixed">

        <div class="absolute inset-0 bg-[#0000008c]"></div>

        <div
            class="relative z-10 w-full flex flex-col items-left text-left lg:text-left lg:items-start container space-y-4  lg:mt-20 px-6 sm:px-12 md:px-16">
            <p class="text-sm md:text-base">Your Career Journey Starts with the Perfect Resume</p>
            <h1 class="text-lg md:text-4xl font-bold">
                WELCOME TO <span class="text-yellow-400">STARGATEZ</span><br>CV WRITING SERVICES
            </h1>
            <p class="text-xs md:text-base">Ready to take your career to the next level?</p>
            <a href="#" routerLink="/resume-writer" fragment="targetSection"
                class="inline-block bg-yellow-400 text-black font-medium text-sm md:text-base md:py-4 py-2 md:px-8 px-4 text-center rounded-lg hover:bg-yellow-500 focus:outline-none focus:ring-4 focus:ring-yellow-500 transition-all md:w-[200px] w-[60%]">
                GET STARTED
            </a>
        </div>

    </div>
</app-header>
<!-- About Section -->
<section data-aos="fade-up" class="bg-white md:mx-0">
    <div class="container mx-auto p-4 md:p-6">
        <h2 class="text-3xl mt-8 md:mt-12 font-semibold text-center text-black leading-relaxed">
            About Stargatez &nbsp; <span class="text-yellow-500 font-bold">Resume Writers</span>
        </h2>
        <div class="flex flex-col mt-8 gap-12 lg:flex-row">
            <!-- Images Grid -->
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 lg:w-1/2">
                <img src="./assets/images/about1.png" alt="Professional woman holding a cup"
                    class="rounded-lg w-full h-auto object-cover shadow-md" />
                <div class="space-y-8">
                    <img src="./assets/images/about2.png" alt="Smiling professional woman"
                        class="rounded-lg w-full h-auto object-cover shadow-md" />
                    <img src="./assets/images/about3.png" alt="Confident professional woman"
                        class="rounded-lg w-full h-auto object-cover shadow-md" />
                </div>
            </div>

            <!-- Text Content -->
            <div class="lg:w-1/2 text-black space-y-6">
                <p class="text-sm lg:text-base leading-relaxed">
                    <span class="">STARGATEz</span> Resume Writers specialize in transforming career aspirations into
                    impactful resumes
                    and profiles that stand out. With over <span class="text-yellow-500 font-bold">10+ years</span>
                    of expertise, our team of highly experienced and certified resume writers has been helping
                    professionals across industries achieve their career goals.
                </p>
                <p class="text-sm lg:text-base md:mt-12 leading-relaxed">
                    Our resume writers bring a wealth of knowledge and insights, backed by advanced
                    qualifications from top universities and colleges in India and abroad, including Post Graduate
                    Diplomas,
                    Master's Degrees, and Bachelor's Degrees. This strong academic foundation, combined with
                    years of hands-on experience in resume writing, profile building, and HR, ensures that every
                    profile we craft is tailored to perfection.
                </p>

            </div>

        </div>
        <div data-aos="fade-up">
            <p class="text-black text-sm lg:text-base mt-8">
                We are proud to serve clients worldwide, offering personalized services that highlight
                individual strengths, align with career objectives, and leave a lasting impression on employers.
                At STARGATEz, we believe in delivering first-rate quality, prompt responses, and on-time
                delivery with a personal touch for every client.
            </p>
            <p class="text-black mt-8 text-sm lg:text-base">
                Let STARGATEz Resume Writers help you take the next step in your career with confidence. Partner
                with us today to unlock your full potential!
            </p>
        </div>
    </div>
</section>

<!-- diverse-clientele Section -->
<section data-aos="fade-up" class="bg-[#2196F31A]  ">
    <div class="container mx-auto p-6">
        <h2 class="text-3xl font-semibold text-center text-black leading-relaxed mt-8">
            Diverse <span class="text-yellow-500 font-bold">Clientele</span>
        </h2>

        <div data-aos="fade-up" class="flex flex-col m-4 md:mx-0 lg:flex-row gap-10 pb-8">
            <!-- Text Content -->
            <div class="lg:w-1/2 lg:mt-8 text-black space-y-6">
                <p class=" text-sm lg:text-base leading-relaxed text-left">
                    <span class="font-bold">Industries :</span> Defense, Banking & Financial, Big 4s, Engineering/
                    Manufacturing, FMCG/ FMCD, Oil & Gas/ Mining, Retail/ eCommerce/Consumer Durable, Health Care/
                    Pharmaceutical, Research & Development, Automobile/Automotive, Supply Chain & Logistics, PL/
                    Transportation, Real Estate/Construction, IT & ITES, Media/ Entertainment/ Gaming.
                </p>
                <p class=" text-sm lg:text-base leading-relaxed md:mt-12 text-left">
                    <span class="font-bold">Domains / Functions :</span> Strategy, Sales & Marketing, HR,
                    Information
                    Technology, Project Management, Program Management, Product Development & Management, Research,
                    Finance & Accounts, Risk & Compliance, Audit, Operations, Physician/ Dentistry, Nursing,
                    Consulting,
                    Commercial, Administration, Production, Distribution, Supply Chain/ Logistics, Procurement, CRM,
                    Customer Experience, CSR, Corporate Communication, Public Relations, Executive Assistant, R&D,
                    Learning & Development, Education.
                </p>
            </div>

            <!-- Images Grid -->
            <div class="lg:w-1/2 mt-4 gap-10 flex justify-center">
                <img src="./assets/images/Mask group.png" alt="Professional woman holding a cup"
                    class="rounded-lg w-full h-auto object-cover shadow-md" />
            </div>
        </div>
    </div>
</section>


<!-- why us-->
<section data-aos="fade-up" class="m-4 md:mx-0">
    <div class="container mx-auto">
        <p class="text-sm lg:text-base leading-relaxed text-left text-gray-700">
            At <span class="text-yellow-500">STARGATEz</span>, we excel in creating impactful and professional
            resumes, cover letters, and LinkedIn profiles tailored to highlight your unique strengths. Our goal
            is to help you stand out in today’s competitive job market by showcasing your expertise and
            accomplishments in a way that resonates with recruiters and hiring managers.
        </p>
        <p class="mt-4 text-sm lg:text-base leading-relaxed text-left text-gray-700">
            Let us craft the tools you need to unlock your full career potential!
        </p>
    </div>

    <!-- Heading -->
    <h2 data-aos="fade-up" class="text-3xl text-center mt-6 mb-4 font-bold py-4 text-black">
        Why <span class="text-yellow-500">Us</span>
    </h2>

    <!-- Cards Container -->
    <div data-aos="fade-up" class="container mx-auto flex flex-col md:flex-row justify-center items-center gap-6">
        <!-- Card 1 -->

        <div
            class="md:basis-[25%] w-full min-h-[300px] h-full bg-[#212B3D] rounded-xl flex flex-col items-center justify-stretch p-6 shadow-lg text-white hover:-translate-y-1 hover:scale-105 transition-all relative overflow-hidden group">

            <!-- Original content stays untouched -->
            <img src="./assets/icons/customised_resume_icon.png" alt="Resume Icon" class="w-24 md:w-16 mb-4 mt-12">
            <h3 class="text-base font-semibold mt-2 text-center">Customized Resumes <br>Aligned with Your Goals</h3>

            <!-- Overlay hover effect (added only) -->
            <div class="absolute flex flex-col items-center justify-center rounded-xl h-full w-full md:h-[250px] md:w-[250px] bg-neutral-900/90 opacity-0 transition-all duration-500 group-hover:opacity-100 cursor-pointer"
                onclick="OnClick()">
                <p class="text-center">We create personalized CVs tailored to your industry, experience, and career
                    aspirations.</p>
            </div>
        </div>

        <!-- Card 2 -->
        <div
            class="md:basis-[25%] w-full  min-h-[300px] h-full bg-[#212B3D] rounded-xl flex flex-col items-center justify-stretch p-6 shadow-lg text-white hover:-translate-y-1 hover:scale-105 transition-all relative overflow-hidden group">


            <img src="./assets/icons/ats_optimisation.png" alt="ATS Icon" class="w-24 md:w-16 mb-4 mt-12">
            <h3 class="text-base font-semibold mt-2 text-center">ATS Optimization <br> Expertise</h3>

            <!-- Overlay hover effect (added only) -->
            <div class="absolute flex flex-col items-center justify-center rounded-xl h-full w-full md:h-[250px] md:w-[250px] bg-neutral-900/90 opacity-0 transition-all duration-500 group-hover:opacity-100 cursor-pointer"
                onclick="OnClick()">
                <p class="text-center text-sm">Our resumes are designed to pass Applicant Tracking Systems (ATS),
                    ensuring
                    they reach recruiters.</p>
            </div>
        </div>

        <!-- Card 3 -->
        <div
            class="md:basis-[25%] w-full  min-h-[300px] h-full bg-[#212B3D] rounded-xl flex flex-col items-center justify-stretch p-6 shadow-lg text-white hover:-translate-y-1 hover:scale-105 transition-all relative overflow-hidden group">


            <img src="./assets/icons/proven_track.png" alt="Chart Icon" class="w-24 md:w-16 mb-4 mt-12">
            <h3 class="text-base font-semibold mt-2 text-center">Proven Track Record</h3>

            <!-- Overlay hover effect (added only) -->
            <div class="absolute flex flex-col items-center justify-center rounded-xl h-full w-full md:h-[250px] md:w-[250px] bg-neutral-900/90 opacity-0 transition-all duration-500 group-hover:opacity-100 cursor-pointer"
                onclick="OnClick()">
                <p class="text-center text-sm">Success stories from clients across industries highlight our ability to
                    deliver results.</p>
            </div>
        </div>

        <!-- Card 4 -->
        <div
            class="md:basis-[25%] w-full  min-h-[300px] h-full bg-[#212B3D] rounded-xl flex flex-col items-center justify-stretch p-6 shadow-lg text-white hover:-translate-y-1 hover:scale-105 transition-all relative overflow-hidden group">


            <img src="./assets/icons/turnaround.png" alt="Clock Icon" class="w-24 md:w-16 mb-4 mt-12">
            <h3 class="text-base font-semibold mt-2 text-center">Fast Turnaround & <br> Stellar Support</h3>
            <!-- Overlay hover effect (added only) -->
            <div class="absolute flex flex-col items-center justify-center rounded-xl h-full w-full md:h-[250px] md:w-[250px] bg-neutral-900/90 opacity-0 transition-all duration-500 group-hover:opacity-100 cursor-pointer"
                onclick="OnClick()">
                <p class="text-center text-sm">Enjoy quick delivery without compromising quality, along with exceptional
                    customer support.</p>
            </div>
        </div>
    </div>
</section>


<!-- Our Mission Section -->
<section data-aos="fade-up" class="bg-[#000232]  mt-16 md:mt-20">
    <div data-aos="fade-up" class="container mx-auto p-6">
        <div class="flex flex-col m-4 md:mx-0 gap-8 lg:flex-row lg:space-x-12 py-6">

            <!-- Image Section -->
            <div class="lg:w-1/2">
                <img src="./assets/images/updated_images/our_mission.jpeg" alt="Professional man holding a cup"
                    class="w-full h-auto object-cover rounded-lg shadow-md aspect-w-3 aspect-h-2" />
            </div>

            <!-- Text Content -->
            <div class="lg:w-1/2 mt-10 lg:mt-20 space-y-6 lg:space-y-8">
                <h2 class="text-3xl font-semibold text-white">
                    Our <span class="text-yellow-500 font-bold">Mission</span>
                </h2>

                <p class="test-sm lg:text-base font-medium text-white leading-relaxed">
                    Our mission is to empower professionals by crafting impactful resumes that unlock doors to
                    exceptional career
                    opportunities and drive long-term success.
                </p>
            </div>

        </div>
    </div>
</section>

<!-- Our Services -->
<section data-aos="fade-up" class="container mx-auto">
    <div data-aos="fade-up" class="m-4 md:mx-0">
        <h2 class="text-3xl mt-6 md:mt-16 font-semibold text-center">
            Our <span class="text-yellow-500">Services</span>
        </h2>
        <div data-aos="fade-up"
            class="mt-3 md:mt-8 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-12 container mx-auto">
            <!-- Card 1 -->
            <div
                class="bg-white rounded-2xl shadow-lg p-6 flex flex-col items-center transition-all duration-300 hover:-translate-y-1 hover:scale-105 hover:shadow-md">
                <img src="./assets/images/updated_images/home_cv_writting.png" alt="Professional CV Writing"
                    class="w-full h-64 object-cover rounded-lg">
                <h3 class="mt-8 font-semibold text-xl text-center">Professional CV Writing</h3>
                <p class="text-gray-600 mt-2 text-sm  text-center">
                    Craft a compelling CV that highlights your skills, experience, and accomplishments, ensuring you
                    stand out in a competitive job market.
                </p>
            </div>
            <!-- Card 2 -->
            <div
                class="bg-white rounded-2xl shadow-lg p-6 flex flex-col items-center transition-all duration-300 hover:-translate-y-1 hover:scale-105 hover:shadow-md">
                <img src="./assets/images/service2.png" alt="Customized Cover Letter Writing"
                    class="w-full h-64 object-cover rounded-lg">
                <h3 class="mt-8 font-semibold text-xl text-center">Customized Cover Letter Writing</h3>
                <p class="text-gray-600 mt-2 text-sm text-center">
                    Make a lasting impression with a personalized, well-structured cover letter tailored to your
                    desired role and industry.
                </p>
            </div>
            <!-- Card 3 -->
            <div
                class="bg-white rounded-2xl shadow-lg p-6 flex flex-col items-center transition-all duration-300 hover:-translate-y-1 hover:scale-105 hover:shadow-md">
                <img src="./assets/images/service3.png" alt="LinkedIn Profile Optimization"
                    class="w-full h-64 object-cover rounded-lg">
                <h3 class="mt-8 font-semibold text-xl text-center">LinkedIn Profile Optimization</h3>
                <p class="text-gray-600 mt-2 text-sm text-center">
                    Enhance your professional online presence with a strategically optimized LinkedIn profile that
                    attracts recruiters and opens doors to new opportunities.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- our process -->
<section data-aos="fade-up" class=" bg-[#14176C1A] pb-12  md:pb-20">
    <div data-aos="fade-up" class="container mx-auto mt-10 md:mt-16">
        <h2 class="text-3xl py-5 font-semibold text-center">
            Our <span class="text-yellow-500">Process</span>
        </h2>
        <div data-aos="fade-up"
            class="grid  grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-6 container mx-auto mt-6 md:mt-8">
            <!-- Step 1 -->
            <div
                class="bg-white rounded-2xl shadow-md p-6 text-center relative max-w-sm mx-auto transition-all duration-300 hover:-translate-y-1 hover:scale-105 hover:shadow-md group">
                <span class="absolute top-4 left-4 text-4xl text-gray-300 font-bold">01</span>
                <div class="flex justify-center">
                    <img src="./assets/images/process_icon1.png" alt="Initial Consultation" class="w-20 h-20">
                </div>
                <h3 class="mt-4 font-semibold text-lg">Initial Consultation</h3>
                <p class="text-gray-600 mt-2 text-sm">
                    We begin by understanding your career goals, professional experiences, and target roles to
                    ensure a personalized approach.
                </p>
            </div>
            <!-- Step 2 -->
            <div
                class="bg-white rounded-2xl shadow-md p-6 text-center relative max-w-sm mx-auto transition-all duration-300 hover:-translate-y-1 hover:scale-105 hover:shadow-md group:">
                <span class="absolute top-4 left-4 text-4xl text-gray-300 font-bold">02</span>
                <div class="flex justify-center">
                    <img src="./assets/images/process_icon2.png" alt="Tailored Draft Creation" class="w-20 h-20">
                </div>
                <h3 class="mt-4 font-semibold text-lg">Tailored Draft Creation</h3>
                <p class="text-gray-600 mt-2 text-sm">
                    Our experts craft a customized CV or related document that highlights your strengths and aligns
                    with industry standards.
                </p>
            </div>
            <!-- Step 3 -->
            <div
                class="bg-white rounded-2xl shadow-md p-6 text-center relative max-w-sm mx-auto transition-all duration-300 hover:-translate-y-1 hover:scale-105 hover:shadow-md group">
                <span class="absolute top-4 left-4 text-4xl text-gray-300 font-bold">03</span>
                <div class="flex justify-center">
                    <img src="./assets/images/process_icon3.png" alt="Review and Finalization" class="w-20 h-20">
                </div>
                <h3 class="mt-4 font-semibold text-lg">Review and Finalization</h3>
                <p class="text-gray-600 mt-2 text-sm">
                    We value your feedback and work closely with you to refine and perfect your documents, ensuring
                    they are ready to make a strong impression.
                </p>
            </div>
        </div>
    </div>
</section>


<section data-aos="fade-up" class="container p-10 py-5 mx-auto mt-16">

    <h2 class="text-3xl py-5 font-semibold text-center">
        Our <span class="text-yellow-500">Timeline</span>
    </h2>
    <div data-aos="fade-up" id="timeline" class="flex flex-col grid-cols-9 p-2 mx-auto md:grid">
        <!-- Timeline Item 1 -->
        <div data-aos="fade-up" class="flex flex-row-reverse md:contents">
            <div id="item-1"
                class=" transition-all duration-300 hover:-translate-y-1.5 hover:shadow-md relative md:p-10 p-8 my-6 bg-[#EBF1FF] rounded-xl col-start-1 col-end-5 mr-auto md:mr-0 md:ml-auto max-w-lg timeline-item">
                <h3 class="text-xl font-medium text-left uppercase lg:text-2xl">Regular</h3>


                <ul class="mt-4 space-y-3 text-sm leading-6 text-left xl:text-lg text-black">
                    <li class="flex items-center gap-3">
                        <img src="./assets/images/checkmark.png" alt="✔" class="w-5 h-5">
                        First draft CV / Resume in 7 working
                        days followed by the other services.
                    </li>
                </ul>
            </div>
            <div class="relative col-start-5 col-end-6 transition-all duration-300 mr-7 md:mx-auto">
                <div class="flex items-end justify-center w-6 h-full">
                    <div class="w-1 transition-all duration-300 rounded-t-full bar h-1/2 bg-primary/30"></div>
                </div>
                <div
                    class="absolute w-6 h-6 -mt-3 scale-125 border-4 border-white rounded-full bg-primary top-1/2 circle">
                </div>
            </div>
        </div>

        <!-- Timeline Item 2 -->
        <div data-aos="fade-up" class="flex md:contents">
            <div class="relative col-start-5 col-end-6 transition-all duration-300 mr-7 md:mx-auto">
                <div class="flex justify-center w-6 h-full">
                    <div class="w-1 h-1/2 transition-all duration-300 bar bg-primary/30"></div>
                </div>
                <div
                    class="absolute w-6 h-6 -mt-3 scale-125 border-4 border-white rounded-full bg-primary top-1/2 circle">
                </div>
            </div>
            <div id="item-2"
                class="hover:-translate-y-1.5 transition-all duration-300  hover:shadow-md relative md:p-10 p-8 my-6  bg-[#EBF1FF] rounded-xl col-start-6 col-end-10 mr-auto max-w-lg timeline-item">
                <h3 class="text-xl font-medium text-left uppercase lg:text-2xl">Fastrack Mode</h3>

                <ul class="mt-4 space-y-3 text-sm leading-6 text-left xl:text-lg text-black">
                    <li class="flex items-center gap-3">
                        <img src="./assets/images/checkmark.png" alt="✔" class="w-5 h-5">
                        Delivery in 3 Working Days (150% of normal price)
                    </li>
                    <li class="flex items-center gap-3">
                        <img src="./assets/images/checkmark.png" alt="✔" class="w-5 h-5">
                        Delivery in 1 working day (200% of normal Price)
                    </li>
                </ul>

            </div>
        </div>
    </div>



</section>


<!-- pricing -->
<section data-aos="fade-up" class="bg-[#14176C1A] px-4 py-10">
    <div data-aos="fade-up" class="container mx-auto h-auto">
        <h2 class="text-center text-3xl font-bold text-gray-800">
            Our <span class="text-yellow-500">Pricing</span>
        </h2>

        <div data-aos="fade-up" class="grid sm:grid-cols-1 md:grid-cols-3 gap-10 mt-12 ">
            <!-- Silver Package -->
            <div data-aos="fade-up"
                class="bg-white hover:bg-[#C4C4C4] text-black py-8 rounded-xl shadow-lg flex flex-col items-left text-left group  transition-all duration-300 ">
                <h3 class="font-semibold  leading-relaxed text-2xl text-left px-6">
                    Silver Package</h3>
                <p class="font-medium md:text-base text-sm px-6 py-2">
                    (0 - 2 Years)</p>
                <div class="bg-[#14176C1A] group-hover:bg-white text-blue-900 text-3xl font-bold mt-4 w-full py-3">
                    <p class="px-6">1500 INR</p>
                </div>
                <h4 class="font-semibold md:text-lg text-base text-left mt-4 px-6 py-3 group-hover:text-[#570100]">
                    Features</h4>
                <ul class="font-medium md:text-base text-sm px-6">
                    <li class="flex items-center"><img src="./assets/images/checkmark.png" alt="checkmark"
                            class="w-5 h-5 mr-2"> CV - 800</li>
                    <li class="flex items-center"><img src="./assets/images/checkmark.png" alt="checkmark"
                            class="w-5 h-5 mr-2"> Cover Letter - 200</li>
                    <li class="flex items-center"><img src="./assets/images/checkmark.png" alt="checkmark"
                            class="w-5 h-5 mr-2"> LinkedIn Profile - 500</li>
                </ul>
            </div>

            <!-- Silver Plus Package -->
            <div data-aos="fade-up"
                class="bg-white hover:bg-[#C3C2C9] py-8 rounded-xl shadow-lg flex flex-col items-left text-left group  transition-all duration-300 ">
                <h3 class="font-semibold leading-relaxed text-2xl text-left px-6">
                    Silver Plus Package</h3>
                <p class="font-medium md:text-base text-sm px-6 py-2">
                    (2 - 4 Years)</p>
                <div
                    class="bg-[#14176C1A] group-hover:bg-white bg-opacity-10 text-blue-900 text-3xl font-bold mt-4 w-full py-3 group-hover:bg-white">
                    <p class="px-6">3500 INR</p>
                </div>
                <h4 class="font-semibold md:text-lg text-base text-left mt-4 px-6 py-3 group-hover:text-[#570100]">
                    Features</h4>
                <ul class="font-medium md:text-base text-sm px-6">
                    <li class="flex items-center"><img src="./assets/images/checkmark.png" alt="checkmark"
                            class="w-5 h-5 mr-2"> CV - 1500</li>
                    <li class="flex items-center"><img src="./assets/images/checkmark.png" alt="checkmark"
                            class="w-5 h-5 mr-2"> Cover Letter - 500</li>
                    <li class="flex items-center"><img src="./assets/images/checkmark.png" alt="checkmark"
                            class="w-5 h-5 mr-2"> Bio Profiles (One-Pager) - 500</li>
                    <li class="flex items-center"><img src="./assets/images/checkmark.png" alt="checkmark"
                            class="w-5 h-5 mr-2"> LinkedIn Profile - 1000</li>
                </ul>
            </div>

            <!-- Gold Package -->
            <div data-aos="fade-up"
                class="bg-white hover:bg-[#EFBF04] py-8 rounded-xl shadow-lg flex flex-col items-left text-left group  transition-all duration-300 ">
                <h3 class="font-semibold leading-relaxed text-2xl text-left px-6">
                    Gold Package</h3>
                <p class="font-medium md:text-base text-sm px-6 py-2">
                    (4 - 10 Years)</p>
                <div
                    class="bg-[#14176C1A] group-hover:bg-white bg-opacity-10 text-blue-900 text-3xl font-bold mt-4 w-full py-3">
                    <p class="px-6">4500 INR</p>
                </div>
                <h4 class="font-semibold md:text-lg text-base text-left mt-4 px-6 py-3 group-hover:text-[#570100]">
                    Features</h4>
                <ul class="font-medium md:text-base text-sm px-6">
                    <li class="flex items-center"><img src="./assets/images/checkmark.png" alt="checkmark"
                            class="w-5 h-5 mr-2"> CV - 1800</li>
                    <li class="flex items-center"><img src="./assets/images/checkmark.png" alt="checkmark"
                            class="w-5 h-5 mr-2"> Cover Letter - 500</li>
                    <li class="flex items-center"><img src="./assets/images/checkmark.png" alt="checkmark"
                            class="w-5 h-5 mr-2"> Bio Profiles - 1000</li>
                    <li class="flex items-center"><img src="./assets/images/checkmark.png" alt="checkmark"
                            class="w-5 h-5 mr-2"> LinkedIn Profile - 1200</li>
                </ul>
            </div>

            <!-- Gold Plus Package -->
            <div data-aos="fade-up"
                class="bg-white hover:bg-[#F1BF2D] py-8 rounded-xl shadow-lg flex flex-col items-left text-left group  transition-all duration-300 ">
                <h3 class="font-semibold leading-relaxed text-2xl text-left px-6">
                    Gold Plus Package</h3>
                <p class="font-medium md:text-base text-sm px-6 py-2">
                    (10 - 15 Years)</p>
                <div
                    class="bg-[#14176C1A] group-hover:bg-white bg-opacity-10 text-blue-900 text-3xl font-bold mt-4 w-full py-3">
                    <p class="px-6">5500 INR</p>
                </div>
                <h4 class="font-semibold md:text-lg text-base text-left mt-4 px-6 py-3 group-hover:text-[#570100]">
                    Features</h4>
                <ul class="font-medium md:text-base text-sm px-6">
                    <li class="flex items-center"><img src="./assets/images/checkmark.png" alt="checkmark"
                            class="w-5 h-5 mr-2"> CV - 2500</li>
                    <li class="flex items-center"><img src="./assets/images/checkmark.png" alt="checkmark"
                            class="w-5 h-5 mr-2"> Cover Letter - 500</li>
                    <li class="flex items-center"><img src="./assets/images/checkmark.png" alt="checkmark"
                            class="w-5 h-5 mr-2"> Bio Profiles - 1000</li>
                    <li class="flex items-center"><img src="./assets/images/checkmark.png" alt="checkmark"
                            class="w-5 h-5 mr-2"> LinkedIn Profile - 1500</li>
                </ul>
            </div>

            <!-- Platinum Package -->
            <div data-aos="fade-up"
                class="bg-white hover:bg-[#E5E4E2] py-8 rounded-xl shadow-lg flex flex-col items-left text-left group  transition-all duration-300 ">
                <h3 class="font-semibold leading-relaxed text-2xl text-left px-6">
                    Platinum Package</h3>
                <p class="font-medium md:text-base text-sm px-6 py-2">
                    (15 - 20 Years)</p>
                <div
                    class="bg-[#14176C1A] group-hover:bg-white bg-opacity-10 text-blue-900 text-3xl font-bold mt-4 w-full py-3">
                    <p class="px-6">7500 INR</p>
                </div>
                <h4 class="font-semibold md:text-lg text-base text-left mt-4 px-6 py-3 group-hover:text-[#570100]">
                    Features</h4>
                <ul class="font-medium md:text-base text-sm px-6">
                    <li class="flex items-center"><img src="./assets/images/checkmark.png" alt="checkmark"
                            class="w-5 h-5 mr-2"> CV - 3200</li>
                    <li class="flex items-center"><img src="./assets/images/checkmark.png" alt="checkmark"
                            class="w-5 h-5 mr-2"> Cover Letter - 800</li>
                    <li class="flex items-center"><img src="./assets/images/checkmark.png" alt="checkmark"
                            class="w-5 h-5 mr-2"> Bio Profiles - 1500</li>
                    <li class="flex items-center"><img src="./assets/images/checkmark.png" alt="checkmark"
                            class="w-5 h-5 mr-2"> LinkedIn Profile - 2000</li>
                </ul>
            </div>

            <!-- Platinum Plus -->
            <div data-aos="fade-up"
                class="bg-white hover:bg-[#D3D6D8] py-8 rounded-xl shadow-lg flex flex-col items-left text-left group  transition-all duration-300 ">
                <h3 class="font-semibold leading-relaxed text-2xl text-left px-6">
                    Platinum Plus</h3>
                <p class="font-medium md:text-base text-sm px-6 py-2">
                    (20 - 25 Years)</p>
                <div
                    class="bg-[#14176C1A] group-hover:bg-white bg-opacity-10 text-blue-900 text-3xl font-bold mt-4 w-full py-3">
                    <p class="px-6">9500 INR</p>
                </div>
                <h4 class="font-semibold md:text-lg text-base text-left mt-4 px-6 py-3 group-hover:text-[#570100]">
                    Features</h4>
                <ul class="font-medium md:text-base text-sm px-6">
                    <li class="flex items-center"><img src="./assets/images/checkmark.png" alt="checkmark"
                            class="w-5 h-5 mr-2"> CV - 4200</li>
                    <li class="flex items-center"><img src="./assets/images/checkmark.png" alt="checkmark"
                            class="w-5 h-5 mr-2"> Cover Letter - 800</li>
                    <li class="flex items-center"><img src="./assets/images/checkmark.png" alt="checkmark"
                            class="w-5 h-5 mr-2"> Bio Profiles - 2000</li>
                    <li class="flex items-center"><img src="./assets/images/checkmark.png" alt="checkmark"
                            class="w-5 h-5 mr-2"> LinkedIn Profile - 2500</li>
                </ul>
            </div>

            <div class="hidden md:block"></div>

            <!-- Diamond Package -->
            <div data-aos="fade-up"
                class="bg-white hover:bg-[#FED0FC] py-8 rounded-xl shadow-lg flex flex-col items-left text-left group  transition-all duration-300 ">
                <h3 class="font-semibold leading-relaxed text-2xl text-left px-6">
                    Diamond Package</h3>
                <p class="font-medium md:text-base text-sm text-left px-6 py-2">
                    (25+ Years)</p>
                <div
                    class="bg-[#14176C1A] group-hover:bg-white bg-opacity-10 text-blue-900 text-3xl font-bold mt-4 w-full py-3">
                    <p class="px-6">12000 INR</p>
                </div>
                <h4 class="font-semibold md:text-lg text-base text-left mt-4 px-6 py-3 group-hover:text-[#570100]">
                    Features</h4>
                <ul class="font-medium md:text-base text-sm text-left px-6">
                    <li class="flex items-center"><img src="./assets/images/checkmark.png" alt="checkmark"
                            class="w-5 h-5 mr-2"> CV - 5500</li>
                    <li class="flex items-center"><img src="./assets/images/checkmark.png" alt="checkmark"
                            class="w-5 h-5 mr-2"> Cover Letter - 1000</li>
                    <li class="flex items-center"><img src="./assets/images/checkmark.png" alt="checkmark"
                            class="w-5 h-5 mr-2"> Bio Profiles - 2500</li>
                    <li class="flex items-center"><img src="./assets/images/checkmark.png" alt="checkmark"
                            class="w-5 h-5 mr-2"> LinkedIn Profile - 3000</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- assessment -->
<section data-aos="fade-up" id="targetSection">
    <div class="w-full mt-4 md:mt-12">
        <!-- Background Image Section -->
        <div class="relative bg-cover bg-center p-6 md:p-12 h-full flex items-center justify-center p-6"
            style="background-image: url('./assets/images/assesment_bg.png');">
            <div class="absolute inset-0 bg-[#000121CC]"></div> <!-- Dark Overlay -->

            <!-- Content -->
            <div class="relative text-center text-white container mx-auto">
                <h2 class="text-center text-white text-3xl font-semibold">
                    Free <span class="text-yellow-500">Assessment</span>
                </h2>
                <p class="text-center text-gray-300 mt-2 text-sm md:text-base">
                    Have questions or ready to get started? Reach out to us today!
                </p>

                <form class="mt-6 bg-transparent" [formGroup]="cvForm" (ngSubmit)="onSubmit()">
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
                        <label for="upload-my-cv"
                            class="flex flex-col items-center justify-center cursor-pointer border-2 border-dashed border-gray-300 rounded-lg p-6 text-center transition duration-300 hover:border-blue-500 w-full h-32"
                            (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">

                            <img src="./assets/images/Featured icon.svg" alt="Upload Icon">
                            <div class="mt-2 text-sm font-semibold text-white">
                                Click to Upload CV / Resume <span class="text-red-500">*</span> <span class="text-gray-400"> &nbsp; or Drag & Drop</span> 
                            </div>

                            <input formControlName="resume" type="file" #fileInput id="upload-my-cv" class="hidden"
                                (change)="onFileSelected($event)">
                        </label>

                        <div></div>

                        <!-- Uploaded File Box -->
                        <div *ngIf="fileUploaded"
                            class="flex items-center justify-between gap-4 bg-blue-50 border border-gray-300 rounded-lg p-4 w-full">
                            <div class="flex flex-col">
                                <span class="text-sm font-semibold text-black">{{ fileName }}</span>
                                <span class="text-xs text-gray-500">{{ fileSize }}</span>
                                <div class=" bg-gray-200 rounded-full h-1.5 mt-1">
                                    <div class="bg-blue-500 h-1.5 w-full rounded-full"
                                        [style.width]="uploadProgress + '%'"></div>
                                </div>
                            </div>

                            <!-- Download Icon: Ensures download only when clicked -->
                            <button type="button" (click)="downloadFile($event)"
                                class="cursor-pointer bg-blue-600 text-white rounded p-2 text-base">
                                <i class="fa fa-download"></i>
                            </button>

                        </div>
                    </div>
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-3">
                        <div class="mt-3 mb-3">
                            <label
                                class="flex items-start justify-items-start mb-2 text-sm block font-medium text-white">Candidate
                                Name <span class="text-red-500">*</span></label>
                            <input formControlName="fullName" type="text" 
                                placeholder="Name of the Candidate as it appears in the Resume" required
                                class="{{cvForm.get('fullName')?.invalid && cvForm.get('fullName')?.touched ? 'border-red-500 border-2' : ''}} w-full p-4 rounded-lg bg-white text-gray-800 text-sm md:text-base outline-none focus:ring-2 focus:ring-yellow-500 focus:ring-offset-2 placeholder-[#14176C] truncate placeholder:text-xs" />
                        </div>

                        <div class="mt-3 mb-3">
                            <label
                                class="flex items-start justify-items-start mb-2 text-sm block font-medium text-white">Candidate
                                Email ID <span class="text-red-500">*</span>
                            </label>
                            <input formControlName="email" type="email" placeholder="Valid Email ID"
                                class="{{cvForm.get('email')?.invalid && cvForm.get('email')?.touched ? 'border-red-500 border-2' : ''}} w-full p-4 rounded-lg bg-white text-gray-800 text-sm md:text-base outline-none focus:ring-2 focus:ring-yellow-500 focus:ring-offset-2 placeholder-[#14176C] truncate placeholder:text-xs" />
                        </div>

                        <div class="mt-3 mb-3">
                            <label
                                class="flex items-start justify-items-start mb-2 text-sm block font-medium text-white">Candidate
                                Phone Number <span class="text-red-500">*</span>
                            </label>
                            <input formControlName="phoneNumber" type="tel" placeholder="10 Digit Phone Number"
                                maxlength="10" required (keydown)="validateNumberInput($event)"
                                (paste)="validatePasteInput($event)" required
                                class="{{cvForm.get('phoneNumber')?.invalid && cvForm.get('phoneNumber')?.touched ? 'border-red-500 border-2' : ''}} w-full p-4 rounded-lg bg-white text-gray-800 text-sm md:text-base outline-none focus:ring-2 focus:ring-yellow-500 focus:ring-offset-2 placeholder-[#14176C] truncate placeholder:text-xs" />
                        </div>

                        <div class="mb-3">
                            <label
                                class="flex items-start justify-items-start mb-2 text-sm block font-medium text-white">Educational Qualification <span class="text-red-500">*</span>
                            </label>
                            <input formControlName="qualification" type="text" placeholder="Highest Qualification"
                                class="{{cvForm.get('qualification')?.invalid && cvForm.get('qualification')?.touched ? 'border-red-500 border-2' : ''}} w-full p-4 rounded-lg bg-white text-gray-800 text-sm md:text-base outline-none focus:ring-2 focus:ring-yellow-500 focus:ring-offset-2 placeholder-[#14176C] truncate placeholder:text-xs" />
                        </div>
                        <div class="mb-3 relative">
                            <label
                                class="flex items-start justify-items-start mb-2 text-sm block font-medium text-white">Current Location <span
                                    class="text-red-500">*</span></label>
                            <input formControlName="currentLocation" type="text" placeholder="City, State"
                                class="{{cvForm.get('currentLocation')?.invalid && cvForm.get('currentLocation')?.touched ? 'border-red-500 border-2' : ''}} w-full p-4 rounded-lg bg-white text-gray-800 text-sm md:text-base outline-none focus:ring-2 focus:ring-yellow-500 focus:ring-offset-2 placeholder-[#14176C] truncate placeholder:text-xs" />

                           
                        </div>
                        <div class="mb-3 relative">
                            <label
                                class="flex items-start justify-items-start mb-2 text-sm block font-medium text-white">Home Town <span
                                    class="text-red-500">*</span></label>
                            <input formControlName="homeTown" type="text" placeholder="City, State"
                                (input)="filterCities($event, 'homeTown')" (focus)="showCityDropdown['homeTown'] = true"
                                (blur)="hideCityDropdownDelayed('homeTown')"
                                class="{{cvForm.get('homeTown')?.invalid && cvForm.get('homeTown')?.touched ? 'border-red-500 border-2' : ''}} w-full p-4 rounded-lg bg-white text-gray-800 text-sm md:text-base outline-none focus:ring-2 focus:ring-yellow-500 focus:ring-offset-2 placeholder-[#14176C] truncate placeholder:text-xs" />

                            <!-- Custom Autocomplete Dropdown -->
                            <div *ngIf="showCityDropdown['homeTown'] && filteredCitiesMap['homeTown']?.length > 0"
                                class="absolute z-10 w-full mt-1 text-black text-left bg-white border border-gray-300 rounded-md shadow-lg max-h-60 overflow-y-auto animate-fade-up">
                                <div *ngFor="let city of filteredCitiesMap['homeTown']"
                                    class="px-4 py-2 cursor-pointer hover:bg-gray-100"
                                    (mousedown)="selectCity(city, 'homeTown')">
                                    {{city.name}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-3">
                        <div class="mb-3">
                            <label
                                class="flex items-start justify-items-start mb-2 text-sm block font-medium text-white">Role
                                Applying For <span class="text-red-500">*</span>
                            </label>
                            <input formControlName="designation" type="text"
                                placeholder="Role Mentioned in the Job Description"
                                class="{{cvForm.get('designation')?.invalid && cvForm.get('designation')?.touched ? 'border-red-500 border-2' : ''}} w-full p-4 rounded-lg bg-white text-gray-800 text-sm md:text-base outline-none focus:ring-2 focus:ring-yellow-500 focus:ring-offset-2 placeholder-[#14176C] truncate placeholder:text-xs" />
                        </div>
                    </div>
                    <div class="grid grid-cols-1 gap-6 mt-3">
                        <div class="mb-3">
                            <label class="flex items-start justify-items-start mb-2 text-sm block font-medium text-white">Copy & Paste Your Entire Resume</label>
                            <textarea formControlName="resumeContent" placeholder="Copy & Paste Your Entire Resume" col="30" rows="6"
                                class="w-full p-4 rounded-lg bg-white text-gray-800 text-sm md:text-base outline-none focus:ring-2 focus:ring-yellow-500 focus:ring-offset-2 placeholder-[#14176C] truncate placeholder:text-xs">
                            </textarea>
                        </div>  
                    </div>
                    <div class="grid grid-cols-1 gap-3 mt-3">
                        <div class="mb-3">
                            <label
                                class="flex items-start justify-items-start mb-2 text-sm block font-medium text-white">Skills <span class="text-red-500">*</span>
                            </label>
                            <input type="text" formControlName="skillsInput"
                                placeholder="Enter your Skills & Press Enter" 
                                (keydown)="$event.key === 'Enter' ? onSkillsUpdate($event) && $event.preventDefault() : null"
                                class="{{cvForm.get('skillsInput')?.invalid && cvForm.get('skillsInput')?.touched ? 'border-red-500 border-2' : ''}} w-full p-4 rounded-lg bg-white text-gray-800 text-sm md:text-base outline-none focus:ring-2 focus:ring-yellow-500 focus:ring-offset-2 placeholder-[#14176C] truncate placeholder:text-xs" />
                        </div>
                        <div *ngIf="cvForm.get('skills').value" class="flex flex-wrap gap-2 mb-6">
                            <span *ngFor="let skill of cvForm.get('skills').value">
                                <div id="chip"
                                    class="relative rounded-md flex bg-[#d3d3d3] py-0.5 pl-2.5 pr-8 border border-transparent text-sm text-[#000121F2] transition-all shadow-sm">
                                    {{skill}}

                                    <button
                                        class="flex cursor-pointer items-center justify-center transition-all p-1 rounded-md text-blue hover:bg-white/10 active:bg-white/10 absolute top-0.5 right-0.5"
                                        type="button" (click)="deleteSkillChip(skill)">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                                            class="w-4 h-4">
                                            <path
                                                d="M5.28 4.22a.75.75 0 0 0-1.06 1.06L6.94 8l-2.72 2.72a.75.75 0 1 0 1.06 1.06L8 9.06l2.72 2.72a.75.75 0 1 0 1.06-1.06L9.06 8l2.72-2.72a.75.75 0 0 0-1.06-1.06L8 6.94 5.28 4.22Z" />
                                        </svg>
                                    </button>
                                </div>

                            </span>
                        </div>
                    </div>
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                        <div class="mb-3">
                            <label
                                class="flex items-start justify-items-start mb-2 text-sm block font-medium text-white">Total
                                Experience (Years) <span class="text-red-500">*</span></label>
                            <input formControlName="totalExpYear" type="number" placeholder="0 to 99 Years" min="0" max="99"
                            (keydown)="validateExperienceInput($event)" (paste)="validateExperiencePaste($event)"
                                class="{{cvForm.get('totalExpYear')?.invalid && cvForm.get('totalExpYear')?.touched ? 'border-red-500 border-2' : ''}} w-full p-4 rounded-lg bg-white text-gray-800 text-sm md:text-base outline-none focus:ring-2 focus:ring-yellow-500 focus:ring-offset-2 placeholder-[#14176C] truncate placeholder:text-xs" />
                        </div>
                        <div class="mb-3">
                            <label
                                class="flex items-start justify-items-start mb-2 text-sm block font-medium text-white">Relevant
                                Experience (Years) <span class="text-red-500">*</span></label> 
                            <input formControlName="relevantExpYear" formControlName="totalExpYear" type="number" placeholder="0 to 99 Years" min="0" max="99"
                            (keydown)="validateExperienceInput($event)" (paste)="validateExperiencePaste($event)"
                                class="{{cvForm.get('relevantExpYear')?.invalid && cvForm.get('relevantExpYear')?.touched ? 'border-red-500 border-2' : ''}} w-full p-4 rounded-lg bg-white text-gray-800 text-sm md:text-base outline-none focus:ring-2 focus:ring-yellow-500 focus:ring-offset-2 placeholder-[#14176C] truncate placeholder:text-xs" />
                        </div>
                        <div class="mb-3">
                            <label
                                class="flex items-start justify-items-start mb-2 text-sm block font-medium text-white">Current
                                / Last Company <span class="text-red-500">*</span></label>
                            <input formControlName="currentCompany" type="text"
                                placeholder="Name of the Current / Last Company"
                                class="{{cvForm.get('currentCompany')?.invalid && cvForm.get('currentCompany')?.touched ? 'border-red-500 border-2' : ''}} w-full p-4 rounded-lg bg-white text-gray-800 text-sm md:text-base outline-none focus:ring-2 focus:ring-yellow-500 focus:ring-offset-2 placeholder-[#14176C] truncate placeholder:text-xs" />
                        </div>
                        <div class="mb-3">
                            <label
                                class="flex items-start justify-items-start mb-2 text-sm block font-medium text-white">Current
                                / Last CTC <span class="text-red-500">*</span></label>
                            <input formControlName="currentSalary" type="number" placeholder="Min 1000, Max 9999999"
                            required maxlength="7" minlength="4" (keydown)="validateSalaryInput($event)"
                            (paste)="validateSalaryPaste($event)"
                                class="{{cvForm.get('currentSalary')?.invalid && cvForm.get('currentSalary')?.touched ? 'border-red-500 border-2' : ''}} w-full p-4 rounded-lg bg-white text-gray-800 text-sm md:text-base outline-none focus:ring-2 focus:ring-yellow-500 focus:ring-offset-2 placeholder-[#14176C] truncate placeholder:text-xs" />
                        </div>
                        <div class="mb-3">
                            <label
                                class="flex items-start justify-items-start mb-2 text-sm block font-medium text-white">Expected
                                CTC <span class="text-red-500">*</span></label>
                            <input formControlName="expectedSalary" type="number" placeholder="Min 1000, Max 9999999"
                            required maxlength="7" minlength="4" (keydown)="validateSalaryInput($event)"
                            (paste)="validateSalaryPaste($event)"
                                class="{{cvForm.get('expectedSalary')?.invalid && cvForm.get('expectedSalary')?.touched ? 'border-red-500 border-2' : ''}} w-full p-4 rounded-lg bg-white text-gray-800 text-sm md:text-base outline-none focus:ring-2 focus:ring-yellow-500 focus:ring-offset-2 placeholder-[#14176C] truncate placeholder:text-xs" />
                        </div>
                        <div class="mb-3">
                            <label
                                class="flex items-start justify-items-start mb-2 text-sm block font-medium text-white">Notice
                                Period (Days) <span class="text-red-500">*</span></label>
                            <input formControlName="noticePeriod" type="number" placeholder="0 to 90 Days"
                            min="0" max="90" (keydown)="validateNoticePeriodInput($event)"
                            (paste)="validateNoticePeriodPaste($event)"
                            class="{{cvForm.get('noticePeriod')?.invalid && cvForm.get('noticePeriod')?.touched ? 'border-red-500 border-2' : ''}} w-full p-4 rounded-lg bg-white text-gray-800 text-sm md:text-base outline-none focus:ring-2 focus:ring-yellow-500 focus:ring-offset-2 placeholder-[#14176C] truncate placeholder:text-xs" />
                        </div>
                    </div>
                    <div class="grid grid-cols-1 md:grid-cols-1 mt-3 gap-4">
                        <div class="mb-3 relative">
                            <label
                                class="flex items-start justify-items-start mb-2 text-sm block font-medium text-white">Comments
                            </label>
                            <textarea formControlName="comments" placeholder="Anything Noteworthy" maxlength="500" rows="8" cols="25"
                                (input)="updateCharCount($event)"
                                class="w-full p-4 rounded-lg bg-white text-gray-800 text-sm md:text-base outline-none focus:ring-2 focus:ring-yellow-500 focus:ring-offset-2 placeholder-[#14176C] truncate placeholder:text-xs min-h-[100px]"></textarea>
                            <div class="text-xs text-gray-500 absolute bottom-2 right-3">
                                {{commentCharCount}}/500
                            </div>
                        </div>
                    </div>


                    <div class="grid grid-cols-1 md:grid-cols-3 mt-4 gap-0 lg:gap-6">
                        <div></div>
                        <div></div>
                        <div class="py-4 md:py-0">
                            <button type="submit"
                                class="md:h-[48px] cursor-pointer hover:bg-white hover:text-black bg-[#F7A400] text-white  py-3 lg:mt-2 px-4 text-sm rounded-lg font-medium transition-all uppercase duration-300 2xl:text-base w-full">
                                Submit
                            </button>
                            <!-- <input type="button" placeholder="Anything Noteworthy"
                                        class="border placeholder-[#14176CCC] border-blue-900 p-3 rounded w-full" /> -->
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Bottom Blue Border -->
        <div class="w-full mt-8 bg-white"></div>
    </div>

</section>

<app-footer></app-footer>
