<app-header [webVideoPath]="videoLink" [phoneVideoPath]="videoLink">

    <div
        class="text-white relative min-h-screen flex flex-col justify-center items-center px-6 sm:px-12 bg-center bg-no-repeat bg-fixed">

        <div class="absolute inset-0 bg-[#000000B2]"></div>



        <div
            class="relative z-10 w-full flex flex-col items-left text-left lg:text-left lg:items-start container space-y-6 md:mt-20 lg:mt-0 px-6 sm:px-12 md:px-16">
            <p class="text-xs lg:text-base uppercase">Empowering Customers across diverse industries</p>
            <h1 class="text-base lg:text-4xl uppercase font-semibold md:leading-12">
                We <span class="text-yellow-400">support</span> Top Companies<br> across <span
                    class="text-yellow-400">industries</span> - IT Services,<br> GCC’s, Growing Start-Ups &<br>
                Unicorns
                worldwide
            </h1>

        </div>

    </div>
</app-header>
<!-- industries -->
<section data-aos="fade-up">
    <div data-aos="fade-up" class="container mx-auto py-10">
        <h2 class="text-center text-xl lg:text-3xl font-semibold mb-6">Industries</h2>

        <!-- Grid Layout -->
        <div data-aos="fade-up" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-12 px-4 md:mt-8">

            <!-- Industry Cards -->
            <div data-aos="fade-up" class="group  relative overflow-hidden rounded-lg shadow-lg">
                <img src="./assets/images/html-css-collage-concept-with-person.png" alt="IT Services"
                    class="w-full h-72 object-cover transition duration-300 group-hover:opacity-50">
                <div
                    class="absolute inset-0 flex items-center justify-center bg-[#14176CCC] opacity-0 group-hover:opacity-100 transition duration-300 p-4">
                    <p class="text-white text-base text-center">Many leading IT Services companies are taking the
                        sector to new heights in the field of teleports.</p>
                </div>
                <div class="absolute bottom-6 left-0 w-full bg-white text-black text-lg font-medium text-center py-2 ">
                    IT
                    Services</div>
            </div>

            <div data-aos="fade-up" class="group relative overflow-hidden rounded-lg shadow-lg">
                <img src="./assets/images/telecommunications-towers-against-cloudy-sky.png" alt="Telecom"
                    class="w-full h-72 object-cover transition duration-300 group-hover:opacity-50">
                <div
                    class="absolute inset-0 flex items-center justify-center bg-[#14176CCC] opacity-0 group-hover:opacity-100 transition duration-300 p-4">
                    <p class="text-white text-base text-center">Telecom</p>
                </div>
                <div class="absolute bottom-6 left-0 w-full bg-white text-black text-lg font-medium text-center py-2">
                    Telecom
                </div>
            </div>

            <div data-aos="fade-up" class="group relative overflow-hidden rounded-lg shadow-lg ">
                <img src="./assets/images/person-setting-up-online-store-uploading-products-laptop 1.png" alt="Retail"
                    class="w-full h-72 object-cover transition duration-300 group-hover:opacity-50">
                <div
                    class="absolute inset-0 flex items-center justify-center bg-[#14176CCC] opacity-0 group-hover:opacity-100 transition duration-300 p-4">
                    <p class="text-white text-base text-center">Retail</p>
                </div>
                <div class="absolute bottom-6 left-0 w-full bg-white text-black text-lg font-medium text-center py-2">
                    Retail
                </div>
            </div>

            <div data-aos="fade-up" class="group relative overflow-hidden rounded-lg shadow-lg ">
                <img src="./assets/images/paper-analysis_industries.png" alt="BFS"
                    class="w-full h-72 object-cover transition duration-300 group-hover:opacity-50">
                <div
                    class="absolute inset-0 flex items-center justify-center bg-[#14176CCC] opacity-0 group-hover:opacity-100 transition duration-300 p-4">
                    <p class="text-white text-base text-center">BFS</p>
                </div>
                <div class="absolute bottom-6 left-0 w-full bg-white text-black text-lg font-medium text-center py-2">
                    BFS
                </div>
            </div>

            <div data-aos="fade-up" class="group relative overflow-hidden rounded-lg shadow-lg ">
                <img src="./assets/images/friends-learning-study-group 1.png" alt="Education"
                    class="w-full h-72 object-cover transition duration-300 group-hover:opacity-50">
                <div
                    class="absolute inset-0 flex items-center justify-center bg-[#14176CCC] opacity-0 group-hover:opacity-100 transition duration-300 p-4">
                    <p class="text-white text-base text-center">Education</p>
                </div>
                <div class="absolute bottom-6 left-0 w-full bg-white text-black text-lg font-medium text-center py-2">
                    Education</div>
            </div>

            <div data-aos="fade-up" class="group relative overflow-hidden rounded-lg shadow-lg ">
                <img src="./assets/images/scene-with-photorealistic-logistics-operations-proceedings (1) 1.png"
                    alt="Transport" class="w-full h-72 object-cover transition duration-300 group-hover:opacity-50">
                <div
                    class="absolute inset-0 flex items-center justify-center bg-[#14176CCC] opacity-0 group-hover:opacity-100 transition duration-300 p-4">
                    <p class="text-white text-base text-center">Transport</p>
                </div>
                <div class="absolute bottom-6 left-0 w-full bg-white text-black text-lg font-medium text-center py-2">
                    Transport</div>
            </div>

            <div data-aos="fade-up" class="group relative overflow-hidden rounded-lg shadow-lg ">
                <img src="./assets/images/my-daughter-isn-t-afraid-pay-visit-here 1.png" alt="Healthcare"
                    class="w-full h-72 object-cover transition duration-300 group-hover:opacity-50">
                <div
                    class="absolute inset-0 flex items-center justify-center bg-[#14176CCC] opacity-0 group-hover:opacity-100 transition duration-300 p-4">
                    <p class="text-white text-base text-center">Healthcare</p>
                </div>
                <div class="absolute bottom-6 left-0 w-full bg-white text-black text-lg font-medium text-center py-2">
                    Healthcare</div>
            </div>

            <div data-aos="fade-up" class="group relative overflow-hidden rounded-lg shadow-lg ">
                <img src="./assets/images/social-media-marketing-concept-marketing-with-applications (3) 1.png"
                    alt="Media" class="w-full h-72 object-cover transition duration-300 group-hover:opacity-50">
                <div
                    class="absolute inset-0 flex items-center justify-center bg-[#14176CCC] opacity-0 group-hover:opacity-100 transition duration-300 p-4">
                    <p class="text-white text-base text-center">Media</p>
                </div>
                <div class="absolute bottom-6 left-0 w-full bg-white text-black text-lg font-medium text-center py-2 ">
                    Media
                </div>
            </div>

            <div data-aos="fade-up" class="group relative overflow-hidden rounded-lg shadow-lg ">
                <img src="./assets/images/man-having-speech-indian-republic-day 1.png" alt="Government"
                    class="w-full h-72 object-cover transition duration-300 group-hover:opacity-50">
                <div
                    class="absolute inset-0 flex items-center justify-center bg-[#14176CCC] opacity-0 group-hover:opacity-100 transition duration-300 p-4">
                    <p class="text-white text-base text-center">Government</p>
                </div>
                <div class="absolute bottom-6 left-0 w-full bg-white text-black text-lg font-medium text-center py-2">
                    Government</div>
            </div>
            <div class="hidden md:block"></div>
            <div data-aos="fade-up" class="group relative overflow-hidden rounded-lg shadow-lg ">
                <img src="./assets/images/medium-shot-engineers-discussing-about-solar-pannels 1.png" alt="Energy"
                    class="w-full h-72 object-cover transition duration-300 group-hover:opacity-50">
                <div
                    class="absolute inset-0 flex items-center justify-center bg-[#14176CCC] opacity-0 group-hover:opacity-100 transition duration-300 p-4">
                    <p class="text-white text-base text-center">Energy</p>
                </div>
                <div class="absolute bottom-6 left-0 w-full bg-white text-black text-lg font-medium text-center py-2">
                    Energy</div>
            </div>

        </div>
    </div>

</section>

<!-- apply -->
<section data-aos="fade-up">
    <div class="w-full mt-4">
        <!-- Background Image Section -->
        <div class="relative bg-cover bg-center h-72 flex items-center justify-center px-6"
            style="background-image: url('./assets/images/apply_img.png');">
            <div class="absolute inset-0 bg-[#000121CC]"></div> <!-- Dark Overlay -->

            <!-- Content -->
            <div class="relative text-center text-white max-w-3xl mx-auto">
                <h2 class="text-2xl md:text-3xl font-semibold">
                    Apply as a <span class="text-yellow-400 font-bold">Talent</span>
                </h2>
                <p class="mt-5 text-lg md:text-xl font-medium">
                    Don’t Miss a Great Opportunity
                </p>
                <p class="mt-5 text-sm md:text-base text-gray-200">
                    Wish to keep up to date with the latest job opportunities.
                </p>

                <!-- Button -->
                <button routerLink="/job-seeker" 
                    class="mt-6 bg-yellow-400 text-black font-semibold px-6 py-2 rounded-lg shadow-md hover:bg-yellow-500 transition">
                    APPLY NOW
                </button>
            </div>
        </div>

        <!-- Bottom Blue Border -->
        <div class="w-full mt-8 bg-white"></div>
    </div>

</section>

<app-footer></app-footer>