<app-header [webVideoPath]="videoLink" [phoneVideoPath]="videoLink">
    <div
        class="text-white relative min-h-screen flex flex-col justify-center items-center px-6 sm:px-12  bg-center bg-no-repeat bg-fixed">
        <div class="absolute inset-0 bg-[#00000066]"></div>
        <div
            class="relative z-10 w-full flex flex-col items-left text-left lg:text-left lg:items-start max-w-7xl space-y-6 mt-20 lg:mt-0 px-6 sm:px-12 md:px-16">
            <h1 class="text-2xl xl:text-5xl lg:text-4xl font-semibold">
                MOVE INTO YOUR <span class="text-yellow-400">DIGITAL FUTURE</span>
            </h1>
        </div>
    </div>
</app-header>

<!-- Game-Changing Technologies -->
<section class="container mx-auto ">
    <!-- Header Section -->

    <div
        class="bg-[#2196F31A] text-black p-6 rounded-xl text-center italic md:text-xl text-base xl:text-2xl 2xl:text-3xl mx-3 md:mx-0 mt-6 md:mt-12">
        <p>“We always overestimate the change that will occur in the next two years and underestimate the change that
            will occur in the next 10. Don't let yourself be lulled into inaction.” <span class="font-semibold">- Bill
                Gates</span></p>
    </div>

    <h2 class="md:text-3xl text-2xl px-6 font-semibold text-center my-6 md:mt-12">
        Game-Changing <span class="text-yellow-500">Technologies</span>
    </h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 container mx-auto">
        <!-- Card 1 -->
        <div
            class="bg-white rounded-2xl shadow-lg p-6 flex flex-col items-center transition-all duration-300 hover:-translate-y-1 hover:scale-105 hover:shadow-md mx-3 md:mx-0">
            <img loading="lazy" src="assets/images/updated_images/data_analytics.png" alt="Data Analytics"
                class="w-full h-64 object-cover rounded-lg">
            <h3 class="mt-6 font-semibold text-xl text-center">Data Analytics</h3>

        </div>
        <!-- Card 2 -->
        <div
            class="bg-white rounded-2xl shadow-lg p-6 flex flex-col items-center transition-all duration-300 hover:-translate-y-1 hover:scale-105 hover:shadow-md mx-3 md:mx-0">
            <img loading="lazy" src="./assets/images/updated_images/iot_2.png" alt="Internet of Things"
                class="w-full h-64 object-cover rounded-lg">
            <h3 class="mt-6 font-semibold text-xl text-center">Internet of Things</h3>

        </div>
        <!-- Card 3 -->
        <div
            class="bg-white rounded-2xl shadow-lg p-6 flex flex-col items-center transition-all duration-300 hover:-translate-y-1 hover:scale-105 hover:shadow-md mx-3 md:mx-0">
            <img loading="lazy" src="./assets/images/updated_images/ai.png" alt="Artificial Intelligence"
                class="w-full h-64 object-cover rounded-lg">
            <h3 class="mt-6 font-semibold text-xl text-center">Artificial Intelligence</h3>

        </div>
        <!-- Card 4 -->
        <div
            class="bg-white rounded-2xl shadow-lg p-6 flex flex-col items-center transition-all duration-300 hover:-translate-y-1 hover:scale-105 hover:shadow-md mx-3 md:mx-0">
            <img loading="lazy" src="assets/images/updated_images/digital.png" alt="Digital"
                class="w-full h-64 object-cover rounded-lg">
            <h3 class="mt-6 font-semibold text-xl text-center">Digital</h3>

        </div>
        <!-- Card 5 -->
        <div
            class="bg-white rounded-2xl shadow-lg p-6 flex flex-col items-center transition-all duration-300 hover:-translate-y-1 hover:scale-105 hover:shadow-md mx-3 md:mx-0">
            <img loading="lazy" src="assets/images/updated_images/cloud.png" alt="cloud"
                class="w-full h-64 object-cover rounded-lg">
            <h3 class="mt-6 font-semibold text-xl text-center">Cloud</h3>

        </div>
        <!-- Card 6 -->
        <div
            class="bg-white rounded-2xl shadow-lg p-6 flex flex-col items-center transition-all duration-300 hover:-translate-y-1 hover:scale-105 hover:shadow-md mx-3 md:mx-0">
            <img loading="lazy" src="./assets/images/ai-powered-device-concept 1.png" alt="Mobile"
                class="w-full h-64 object-cover rounded-lg">
            <h3 class="mt-6 font-semibold text-xl text-center">Mobile</h3>

        </div>

    </div>
</section>

<!-- What We Can Do -->
<section class="bg-[#000232] px-6 lg:px-30 mt-12  ">
    <div class="container mx-auto">
        <div class="flex flex-col gap-8 md:gap-12 lg:flex-row lg:space-x-12 py-3 md:py-8 ">

            <!-- Image Section -->
            <div class="lg:w-1/2">
                <img loading="lazy" src="./assets/images/what_we_do 1.png" alt="Professional man holding a cup"
                    class="w-full h-auto object-cover rounded-lg shadow-md aspect-w-1 aspect-h-1" />
            </div>

            <!-- Text Content -->
            <div class="lg:w-1/2 mt-6 lg:mt-12 space-y-6">
                <h2 class="text-3xl font-semibold text-white">
                    What Can <span class="text-yellow-500 font-semibold">We Do</span>
                </h2>

                <h2 class="text-lg font-medium text-white leading-relaxed space-y-2">
                    Improving business<br>outcomes and help<br>building better businesses
                </h2>
                <p class="text-sm font-base text-white leading-relaxed space-y-2">
                    Our digital perspectives are centred around business strategies, customer-experience, designers
                    and technology experts who work harmoniously to minimize gaps in aligning business outcomes with
                    technology execution and exceptional customer experience
                </p>
                <p class="text-lg font-semibold text-white leading-relaxed italic">
                    <span class="text-yellow-500 font-semibold">Tailored </span>and <span
                        class="text-yellow-500 font-semibold">Personalized</span> for your unique needs.
                </p>
            </div>

        </div>
    </div>
</section>

<!-- digital capabiltites -->
<section id="digital-capabilitites" class="container mx-auto px-4 py-8 md:py-12">
    <div>
        <!-- Title -->
        <h2 class="text-center text-3xl font-medium">
            Digital <span class="text-yellow-500">Capabilities</span>
        </h2>

        <!-- Content Grid -->
        <div class="mt-6 md:mt-12 space-y-16"> <!-- Controls spacing between sections -->

            <!-- Business Transformation -->
            <div class="grid md:grid-cols-2 container mx-auto place-items-center mt-10 gap-4">
                <img loading="lazy" src="./assets/images/researchers-looking-alternative-energy-souces 1.png"
                    alt="Business Transformation"
                    class="h-auto order-2 md:order-1 w-full object-cover rounded-lg shadow-lg">
                <div class="md:text-left order-1 md:order-2 mb-4">
                    <h3 class="xl:text-4xl text-2xl font-semibold mb-5">
                        Business <span class="text-yellow-500">Transformation</span>
                    </h3>

                    <!-- <div class="flex gap-4">
                            <div>
                                <a class="inline-flex justify-center whitespace-nowrap rounded-lg px-3.5 py-2.5 text-sm font-medium text-slate-200 dark:text-slate-800 bg-gradient-to-r from-slate-800 to-slate-700 dark:from-slate-200 dark:to-slate-100 dark:hover:bg-slate-100 shadow focus:outline-none focus:ring focus:ring-slate-500/50 focus-visible:outline-none focus-visible:ring focus-visible:ring-slate-500/50 relative before:absolute before:inset-0 before:rounded-[inherit] before:bg-[linear-gradient(45deg,transparent_25%,theme(colors.white/.5)_50%,transparent_75%,transparent_100%)] dark:before:bg-[linear-gradient(45deg,transparent_25%,theme(colors.white)_50%,transparent_75%,transparent_100%)] before:bg-[length:250%_250%,100%_100%] before:bg-[position:200%_0,0_0] before:bg-no-repeat before:[transition:background-position_0s_ease] hover:before:bg-[position:-100%_0,0_0] hover:before:duration-[1500ms]" href="#0">Available For Work</a>
                            </div>
                            <div class="dark">
                                <a class="inline-flex justify-center whitespace-nowrap rounded-lg px-3.5 py-2.5 text-sm font-medium text-slate-200 dark:text-slate-800 bg-gradient-to-r from-slate-800 to-slate-700 dark:from-slate-200 dark:to-slate-100 dark:hover:bg-slate-100 shadow focus:outline-none focus:ring focus:ring-slate-500/50 focus-visible:outline-none focus-visible:ring focus-visible:ring-slate-500/50 relative before:absolute before:inset-0 before:rounded-[inherit] before:bg-[linear-gradient(45deg,transparent_25%,theme(colors.white/.2)_50%,transparent_75%,transparent_100%)] dark:before:bg-[linear-gradient(45deg,transparent_25%,theme(colors.white)_50%,transparent_75%,transparent_100%)] before:bg-[length:250%_250%,100%_100%] before:bg-[position:200%_0,0_0] before:bg-no-repeat before:[transition:background-position_0s_ease] hover:before:bg-[position:-100%_0,0_0] hover:before:duration-[1500ms]" href="#0">Available For Work</a>
                            </div>
                        </div> -->

                    <ul class="mt-4 space-y-3 text-gray-700 xl:text-xl">
                        <li class="flex items-center gap-3">
                            <img loading="lazy" src="./assets/images/checkmark.png" alt="✔" class="w-5 h-5">
                            High End Business Consulting
                        </li>
                        <li class="flex items-center gap-3">
                            <img loading="lazy" src="./assets/images/checkmark.png" alt="✔" class="w-5 h-5">
                            New Services Roll-out
                        </li>
                        <li class="flex items-center gap-3">
                            <img loading="lazy" src="./assets/images/checkmark.png" alt="✔" class="w-5 h-5">
                            Business Process Services
                        </li>
                        <li class="flex items-center gap-3">
                            <img loading="lazy" src="./assets/images/checkmark.png" alt="✔" class="w-5 h-5">
                            Project, Portfolio & Program Management
                        </li>
                        <li class="flex items-center gap-3">
                            <img src="./assets/images/checkmark.png" alt="✔" class="w-5 h-5">
                            Business & IT Strategy
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Digital Workforce Transformation -->
            <div class="grid md:grid-cols-2 container mx-auto place-items-center mt-10 gap-4">
                <div class="md:text-left mb-4">
                    <h3 class="xl:text-4xl text-2xl font-semibold mb-5">
                        Digital Workforce <span class="text-yellow-500">Transformation</span>
                    </h3>
                    <ul class="mt-4 space-y-3 text-gray-700 xl:text-xl">
                        <li class="flex items-center gap-3">
                            <img src="./assets/images/checkmark.png" alt="✔" class="w-5 h-5">
                            Enterprise Business Apps (ERP)
                        </li>
                        <li class="flex items-center gap-3">
                            <img src="./assets/images/checkmark.png" alt="✔" class="w-5 h-5">
                            Intelligent Automation (RPA)
                        </li>
                        <li class="flex items-center gap-3">
                            <img src="./assets/images/checkmark.png" alt="✔" class="w-5 h-5">
                            Cognitive Intelligence (Analytics)
                        </li>
                    </ul>
                </div>
                <img src="./assets/images/futuristic-technology-hologram 1.png" alt="Digital Workforce"
                    class="h-auto object-cover w-full rounded-lg shadow-lg">

            </div>

            <!-- Technology Transformation -->
            <div class="grid md:grid-cols-2 container mx-auto place-items-center mt-10 gap-4">
                <img src="./assets/images/representation-user-experience-interface-design 1.png"
                    alt="Technology Transformation"
                    class="w-full h-auto order-2 md:order-1 object-cover rounded-lg shadow-lg">
                <div class="mb-4 text-left order-1 md:order-2">
                    <h3 class="xl:text-4xl text-2xl font-semibold mb-5">
                        Technology <span class="text-yellow-500">Transformation</span>
                    </h3>
                    <ul class="mt-4 space-y-3 text-gray-700 xl:text-xl">
                        <li class="flex items-center gap-3">
                            <img src="./assets/images/checkmark.png" alt="✔" class="w-5 h-5">
                            Cloud Infrastructure
                        </li>
                        <li class="flex items-center gap-3">
                            <img src="./assets/images/checkmark.png" alt="✔" class="w-5 h-5">
                            Mobility
                        </li>
                        <li class="flex items-center gap-3">
                            <img src="./assets/images/checkmark.png" alt="✔" class="w-5 h-5">
                            BI & Reporting, Big Data Analytics
                        </li>
                        <li class="flex items-center gap-3">
                            <img src="./assets/images/checkmark.png" alt="✔" class="w-5 h-5">
                            IoT
                        </li>
                        <li class="flex items-center gap-3">
                            <img src="./assets/images/checkmark.png" alt="✔" class="w-5 h-5">
                            UI/UX, Design Thinking
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Strategic Staffing-->
<section class="container mx-auto text-center">
    <!-- Heading -->
    <h2 class="text-3xl font-medium mt-2 md:mt-4 text-gray-900">
        Strategic <span class="text-yellow-500">Staffing</span>
    </h2>

    <div class="flex flex-wrap justify-center gap-6 px-4 py-8 ">
        <ng-container *ngFor="let card of cards">
            <div class="flex flex-wrap justify-center px-4 py-8">
                <div class="group relative w-80 h-80 rounded-lg bg-white gradient-button shadow-lg overflow-hidden cursor-pointer border border-black"
                    (mouseenter)="restartTyping(card)">
                    <!-- Front Side -->
                    <div class=" h-full flex flex-col items-center justify-center">
                        <img class="w-[35%]" [src]="card.imagePath" alt="Image">
                        <h3 class="mt-8 text-lg font-medium text-gray-800">{{ card.name }}</h3>
                    </div>

                    <!-- Back Side (Visible on Hover) -->
                    <div
                        class="absolute inset-0 bg-blue-900/90 p-6 transition-opacity duration-300 flex items-center justify-center group-hover:opacity-100 opacity-0 pointer-events-none text-white">
                        {{ card.displayedText }}
                    </div>
                </div>
            </div>
        </ng-container>
    </div>

    <!-- Read More Button -->
    <div class="flex flex-wrap justify-center mt-8 gap-8 lg:gap-16 p-4">
        <a href="#"
            class="flex items-center bg-yellow-400 text-black font-medium text-lg py-4 px-8 text-center rounded-lg hover:bg-yellow-500 focus:outline-none focus:ring-4 focus:ring-yellow-500 transition-all">
            Read More
            <img class="w-2 ml-2" src="./assets/images/Vectorarrow.png" alt="Arrow">
        </a>
    </div>
</section>

<!-- CV Writing Services -->
<section class="container mx-auto">
    <h2 class="text-3xl font-semibold text-center mt-6 mb-4 md:mt-12">
        CV Writing <span class="text-yellow-500">Services</span>
    </h2>
    <div
        class="bg-[#14176C]/10 bg-opacity-10 text-[#14176C] p-6 rounded-xl text-center italic text-xl font-semibold mx-3 md:mx-0 mt-6 md:mt-12">
        <p>“Your Career Journey Starts with the Perfect Resume”</p>
    </div>



    <div class="mt-8 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 container mx-auto px-4">
        <!-- Card 1 -->
        <div
            class="bg-white rounded-2xl shadow-lg p-6 flex flex-col items-center transition-all duration-300 hover:-translate-y-1 hover:scale-105 hover:shadow-md">
            <img src="./assets/images/service1.png" alt="Professional CV Writing"
                class="w-full h-64 object-cover rounded-lg">
            <h3 class="mt-6 font-semibold text-xl text-center">Professional CV Writing</h3>
            <p class="text-gray-600 mt-2 text-sm text-center">
                Craft a compelling CV that highlights your skills, experience, and accomplishments, ensuring you
                stand out in a competitive job market.
            </p>
        </div>
        <!-- Card 2 -->
        <div
            class="bg-white rounded-2xl shadow-lg p-6 flex flex-col items-center transition-all duration-300 hover:-translate-y-1 hover:scale-105 hover:shadow-md">
            <img src="./assets/images/service2.png" alt="Customized Cover Letter Writing"
                class="w-full h-64 object-cover rounded-lg">
            <h3 class="mt-6 font-semibold text-xl text-center">Customized Cover Letter Writing</h3>
            <p class="text-gray-600 mt-2 text-sm text-center">
                Make a lasting impression with a personalized, well-structured cover letter tailored to your
                desired role and industry.
            </p>
        </div>
        <!-- Card 3 -->
        <div
            class="bg-white rounded-2xl shadow-lg p-6 flex flex-col items-center transition-all duration-300 hover:-translate-y-1 hover:scale-105 hover:shadow-md">
            <img src="./assets/images/service3.png" alt="LinkedIn Profile Optimization"
                class="w-full h-64 object-cover rounded-lg">
            <h3 class="mt-6 font-semibold text-xl text-center">LinkedIn Profile Optimization</h3>
            <p class="text-gray-600 mt-2 text-sm text-center">
                Enhance your professional online presence with a strategically optimized LinkedIn profile that
                attracts recruiters and opens doors to new opportunities.
            </p>
        </div>
    </div>
</section>

<section class="container mx-auto">
    <p class="text-sm mt-4 md:mt-8 lg:text-base text-left px-4 md:mx-0 text-gray-700">
        At <span class="text-yellow-500">STARGATEz</span>, we excel in creating impactful and professional
        resumes, cover letters, and LinkedIn profiles tailored to highlight your unique strengths. Our goal
        is to help you stand out in today’s competitive job market by showcasing your expertise and
        accomplishments in a way that resonates with recruiters and hiring managers.
    </p>
    <p class="text-sm lg:text-base mt-2 md:mt-4 text-left px-4 md:mx-0 text-gray-700">
        Let us craft the tools you need to unlock your full career potential!
    </p>

    <div class="flex flex-wrap justify-center mt-8 gap-8 lg:gap-16 p-4">
        <a href="#"
            class="flex items-center bg-yellow-400 text-black font-medium text-lg py-4 px-8 text-center rounded-lg hover:bg-yellow-500 focus:outline-none focus:ring-4 focus:ring-yellow-500 transition-all">
            Read More
            <img class="w-2 ml-2" src="./assets/images/Vectorarrow.png" alt="Arrow">
        </a>
    </div>

</section>

<section class="space-y-2 flex items-center justify-center min-h-1 bg-cover bg-center bg-no-repeat"
    style="background-image: url('./assets/images/apply_img.png');">
    <div class="bg-[#000121CC] py-10 px-8 bg-opacity-60 text-white text-center w-full md:p-12 lg:max-w-full">
        <h2 class="text-2xl md:text-3xl font-semibold">Apply as a <span class="text-yellow-400">Talent</span></h2>
        <p class="mt-2 text-lg font-medium">Don’t Miss a Great Opportunity</p>
        <p class="mt-2 text-sm md:text-base opacity-80">Wish to keep up to date with the latest job opportunities.
        </p>

        <div class="mt-6">
            <a class="inline-flex justify-center whitespace-nowrap rounded-lg px-3.5 py-2.5 text-sm font-medium text-slate-200 dark:text-slate-800 bg-gradient-to-r from-slate-800 to-slate-700 dark:from-slate-200 dark:to-slate-100 dark:hover:bg-slate-100 shadow focus:outline-none focus:ring focus:ring-slate-500/50 focus-visible:outline-none focus-visible:ring focus-visible:ring-slate-500/50 relative before:absolute before:inset-0 before:rounded-[inherit] before:bg-[linear-gradient(45deg,transparent_25%,theme(colors.white/.5)_50%,transparent_75%,transparent_100%)] dark:before:bg-[linear-gradient(45deg,transparent_25%,theme(colors.white)_50%,transparent_75%,transparent_100%)] before:bg-[length:250%_250%,100%_100%] before:bg-[position:200%_0,0_0] before:bg-no-repeat before:[transition:background-position_0s_ease] hover:before:bg-[position:-100%_0,0_0] hover:before:duration-[1500ms]"
                href="#0">
                APPLY NOW
            </a>
        </div>
        <!-- <button
                class="mt-5 bg-yellow-400 hover:bg-yellow-500 text-black font-semibold py-2 px-6 rounded-lg transition-all duration-300">
                APPLY NOW
            </button> -->
    </div>
</section>

<app-footer></app-footer>