@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.cursor {
    display: inline-block;
    animation: blink 0.7s infinite;
}
    
.animate-typing {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #000232;
    /* Simulates the cursor */
    animation: typing 2s steps(10) infinite alternate, blink 0.7s infinite;
}