<app-spinner>

</app-spinner>

<app-header [webVideoPath]="videoLink" [phoneVideoPath]="videoLink">
    <div
        class="text-white relative min-h-screen flex flex-col justify-center items-center px-6 sm:px-12  bg-center bg-no-repeat bg-fixed">

        <div class="absolute inset-0 bg-[#00000066]"></div>

        <div
            class="relative z-10 w-full flex flex-col items-left text-left lg:text-left lg:items-start container space-y-6 md:mt-20 lg:mt-0 px-6 sm:px-12 md:px-16">

            <h1 class="text-lg lg:text-5xl font-bold">
                <span class="text-yellow-400">Aim </span>Higher, <span class="text-yellow-400">Dream</span> Bigger
            </h1>
            <p class="uppercase text-xs md:text-base">Your Next Big Opportunity is just a Click Away</p>

        </div>

    </div>
</app-header>



<!-- Notification Popup is now handled by the app-snack-bar component -->

<!-- Section -->
<section data-aos="fade-up" class="container mx-auto py-8 md:py-12 grid md:grid-cols-2 gap-12 items-center">
    <!-- Left Content -->
    <div class="relative mx-5 md:mx-0">
        <span class="bg-blue-100 text-blue-700 text-sm font-semibold px-4 py-3 rounded-lg">Earn in Dollars</span>
        <h1 class="mt-4 text-xl md:text-3xl font-bold leading-snug">
            Discover <span class="text-yellow-500">high-paying global opportunities</span> tailored to your skills
            and aspirations.
        </h1>
        <img src="./assets/images/holding-world-my-hands-attractive-female-travel-agent-showing-globe-smiling-while-working-her-modern-office 1.png"
            alt="Global Opportunities" class="w-full rounded-lg shadow-lg mt-8">

    </div>
    <!-- Right Content -->
    <div>

        <div class="mt-6 space-y-4 mx-3 md:mx-0">
            <div class="flex items-start space-x-3">
                <img src="./assets/images/blackcheckmark.png" alt="icon" class="w-5 h-5 mt-1">
                <p class="text-gray-700 font-medium">
                    <strong>Receive Tailored Job Updates :</strong> Stay informed about the best roles that match
                    your profile.
                </p>
            </div>
            <div class="flex items-start space-x-3">
                <img src="./assets/images/blackcheckmark.png" alt="icon" class="w-5 h-5 mt-1">
                <p class="text-gray-700 font-medium ">
                    <strong>Explore Diverse Opportunities :</strong>
                </p>

            </div>
            <div class="space-y-5">
                <button
                    class="min-w-full md:min-w-xs bg-[#F7A4001A] text-gray-900 py-2 px-4 rounded-lg flex items-center ">
                    <img class="px-2" src="./assets/images/arrow-jobpage.png" alt="arrow" class="w-4 h-4"><span>
                        Permanent Roles</span>
                </button>
                <button
                    class="min-w-full md:min-w-xs  bg-[#F7A4001A] text-gray-900 py-2 px-4 rounded-lg flex items-center ">
                    <img class="px-2" src="./assets/images/arrow-jobpage.png" alt="arrow" class="w-4 h-4"><span>
                        Contract Roles</span>
                </button>
                <button
                    class="min-w-full md:min-w-xs bg-[#F7A4001A] text-gray-900 py-2 px-4 rounded-lg flex items-center ">
                    <img class="px-2" src="./assets/images/arrow-jobpage.png" alt="arrow" class="w-4 h-4"><span>
                        Remote Roles</span>
                </button>
                <button
                    class="min-w-full md:min-w-xs  bg-[#F7A4001A] text-gray-900 py-2 px-4 rounded-lg flex items-center ">
                    <img class="px-2" src="./assets/images/arrow-jobpage.png" alt="arrow" class="w-4 h-4"><span>
                        Freelancing Opportunities</span>
                </button>
            </div>

            <div class="grid grid-col-1 md:grid-cols-2 gap-6 mt-8 md:mt-16">
                <div class="bg-white shadow-md rounded-lg p-4 text-center">
                    <h3 class=" bg-[#14176C1A] p-3 text-[#14176C] font-semibold">Get Hired and Advance Your Career
                    </h3>
                    <p class="text-gray-600 text-sm p-3">Unlock new possibilities with top-tier global employers.
                    </p>
                </div>
                <div class="bg-white shadow-md rounded-lg p-4 text-center">
                    <h3 class=" bg-[#14176C1A] p-3 text-[#14176C] font-semibold">Work for<br> Top Companies</h3>
                    <p class="text-gray-600 text-sm p-3">Collaborate with industry leaders and accelerate your
                        professional growth.</p>
                </div>
            </div>
        </div>
    </div>


</section>

<!-- Form Section -->
<section data-aos="fade-up" class="container mx-auto">
    <!-- Header Section -->
    <div class="bg-[#14176C] text-white p-6 rounded-xl text-center italic text-xl font-semibold mx-3 md:mx-0">
        <p>“Your dream job is closer than you think. Join <span class="text-yellow-400">stargatez</span> and take
            the next step in your career journey!”</p>
    </div>

    <!-- Form Section -->
    <div class="bg-[#14176C0D] 2xl:max-w-5xl xl:max-w-6xl md:p-10 mx-auto rounded-lg p-8 mt-6">
        <form class="space-y-4" [formGroup]="cvForm" (ngSubmit)="onSubmit()">
            <div class=" grid grid-cols-1 md:grid-cols-2 gap-6">
                <label for="upload-my-cv"
                    class="flex flex-col items-center justify-center cursor-pointer border-2 border-dashed border-gray-300 rounded-lg p-6 text-center transition duration-300 hover:border-blue-500 w-full h-32"
                    (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">

                    <img src="./assets/images/Featured icon.svg" alt="Upload Icon">
                    <div class="mt-2 text-sm font-semibold text-[#14176C]">
                        Click to upload CV / Resume <span class="text-gray-500">or drag and drop</span>
                    </div>

                    <input formControlName="resume" type="file" #fileInput id="upload-my-cv" class="hidden"
                        (change)="onFileSelected($event)">
                </label>

                <!-- Uploaded File Box -->
                <div *ngIf="fileUploaded"
                    class="flex items-center justify-between bg-blue-50 border border-gray-300 rounded-lg p-4 w-full">
                    <div class="flex flex-col">
                        <span class="text-sm font-semibold text-black">{{ fileName }}</span>
                        <span class="text-xs text-gray-500">{{ fileSize }}</span>
                        <div class="w-full bg-gray-200 rounded-full h-1.5 mt-1">
                            <div class="bg-blue-500 h-1.5 rounded-full" [style.width]="uploadProgress + '%'"></div>
                        </div>
                    </div>

                    <!-- Download Icon: Ensures download only when clicked -->
                    <button type="button" (click)="downloadFile($event)"
                        class="cursor-pointer bg-blue-600 text-white rounded p-2 text-base">
                        <i class="fa fa-download"></i>
                    </button>

                </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div class="mb-3">
                    <label class="mb-2 text-sm block font-medium text-[#14176C]">Candidate Name</label>
                    <input formControlName="fullName" type="text"
                        placeholder="Name of the Candidate as it appears in the Resume"
                        class="{{cvForm.get('fullName')?.invalid && cvForm.get('fullName')?.touched ? 'border-red-500 border-2' : ''}} border  placeholder-sm placeholder-[#14176CCC]/60 truncate  placeholder:text-xs border-blue-900 p-3 rounded w-full" />
                </div>
                <div class="mb-3">
                    <label class="mb-2 text-sm block font-medium text-[#14176C]">Candidate Phone Number</label>
                    <div class="relative flex items-center border border-blue-900 rounded w-full">
                        <!-- Country Flag Dropdown -->
                        <!-- <select formControlName="countryCode"
                            class="bg-gray-100 text-sm p-1 rounded-l focus:outline-none border-r border-blue-900">
                            <ng-container>
                                <option *ngFor="let country of currencies" [value]="country.dialCode">
                                    {{ country.dialCode }}
                                </option>
                            </ng-container> -->
                        <!-- <option value="IN" selected>IN +91</option>
                            <option value="US">US +1</option>
                            <option value="UK">UK +44</option>
                            <option value="AU">AU +61</option>
                            <option value="CA">CA +1</option> -->
                        <!-- </select> -->

                        <!-- Phone Input Field -->
                        <input formControlName="phoneNumber" type="tel" placeholder="10 Digit Phone Number" required
                            (keydown)="validateNumberInput($event)" (paste)="validatePasteInput($event)" maxlength="10"
                            required
                            class="{{cvForm.get('phoneNumber')?.invalid && cvForm.get('phoneNumber')?.touched ? 'border-red-500 border-2' : ''}} text-sm placeholder-sm placeholder-[#14176CCC]/60 placeholder:text-xs p-3 w-full outline-none">
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div class="mb-3">
                    <label class="mb-2 text-sm block font-medium text-[#14176C]">Candidate Email ID</label>
                    <input formControlName="email" type="email" placeholder="Valid Email ID"
                        class="{{cvForm.get('email')?.invalid && cvForm.get('email')?.touched ? 'border-red-500 border-2' : ''}} border placeholder-sm placeholder-[#14176CCC]/60  placeholder:text-xs border-blue-900 p-3 rounded w-full" />
                </div>
                <div class="mb-3">
                    <label class="mb-2 text-sm block font-medium text-[#14176C]">Role Applying For</label>
                    <input formControlName="designation" type="text" placeholder="Role Mentioned in the Job Description"
                        class="{{cvForm.get('designation')?.invalid && cvForm.get('designation')?.touched ? 'border-red-500 border-2' : ''}} border placeholder-sm placeholder-[#14176CCC]/60  placeholder:text-xs border-blue-900 p-3 rounded w-full" />
                </div>
            </div>
            <div class="mb-3">
                <label class="mb-2 text-sm block font-medium text-[#14176C]">Skills</label>
                <input type="text" formControlName="skillsInput" placeholder="Enter your Skills & Press Enter"
                    (change)="onSkillsUpdate($event)"
                    class="{{cvForm.get('skillsInput')?.invalid && cvForm.get('skillsInput')?.touched ? 'border-red-500 border-2' : ''}} border text-sm placeholder-sm placeholder-[#14176CCC]/60  placeholder:text-xs border-blue-900 p-3 rounded w-full" />
            </div>
            <div *ngIf="cvForm.get('skills').value" class="flex flex-wrap gap-2 mb-6">
                <span *ngFor="let skill of cvForm.get('skills').value">
                    <div id="chip"
                        class="relative rounded-md flex bg-blue-200 py-0.5 pl-2.5 pr-8 border border-transparent text-sm text-blue transition-all shadow-sm">
                        {{skill}}

                        <button
                            class="flex cursor-pointer items-center justify-center transition-all p-1 rounded-md text-blue hover:bg-white/10 active:bg-white/10 absolute top-0.5 right-0.5"
                            type="button" (click)="deleteSkillChip(skill)">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                                class="w-4 h-4">
                                <path
                                    d="M5.28 4.22a.75.75 0 0 0-1.06 1.06L6.94 8l-2.72 2.72a.75.75 0 1 0 1.06 1.06L8 9.06l2.72 2.72a.75.75 0 1 0 1.06-1.06L9.06 8l2.72-2.72a.75.75 0 0 0-1.06-1.06L8 6.94 5.28 4.22Z" />
                            </svg>
                        </button>
                    </div>

                </span>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
                <div class="mb-3">
                    <label class="mb-2 text-sm block font-medium text-[#14176C]">Total Experience (Years)</label>
                    <input formControlName="totalExpYear" type="text" placeholder="Example: 5 or 5.6 or 5.10"
                        class="{{cvForm.get('totalExpYear')?.invalid && cvForm.get('totalExpYear')?.touched ? 'border-red-500 border-2' : ''}} border placeholder-sm placeholder-[#14176CCC]/60  placeholder:text-xs border-blue-900 p-3 rounded w-full" />
                </div>
                <div class="mb-3">
                    <label class="mb-2 text-sm block font-medium text-[#14176C]">Relevant Experience (Years)</label>
                    <input formControlName="totalExpYear" type="text" placeholder="Example: 5 or 5.6 or 5.10"
                        class="{{cvForm.get('totalExpYear')?.invalid && cvForm.get('totalExpYear')?.touched ? 'border-red-500 border-2' : ''}} border placeholder-sm placeholder-[#14176CCC]/60  placeholder:text-xs border-blue-900 p-3 rounded w-full" />
                </div>
                <div class="mb-3">
                    <label class="mb-2 text-sm block font-medium text-[#14176C]">Current / Last Company</label>
                    <input formControlName="currentCompany" type="text" placeholder="Name of the Current / Last Company"
                        class="{{cvForm.get('currentCompany')?.invalid && cvForm.get('currentCompany')?.touched ? 'border-red-500 border-2' : ''}} border placeholder-sm placeholder-[#14176CCC]/60  placeholder:text-xs border-blue-900 p-3 rounded w-full" />
                </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
                <div class="mb-3">
                    <label class="mb-2 text-sm block font-medium text-[#14176C]">Current / Last CTC (Lakhs)</label>
                    <div
                        class="{{cvForm.get('currentSalary')?.invalid && cvForm.get('currentSalary')?.touched ? 'border-red-500 border-2' : ''}} flex items-center text-sm border border-blue-900 rounded w-full px-2 py-2">
                        <!-- Currency Dropdown (Prefix) -->
                        <!-- <select formControlName="currentSalaryCurrency" class="outline-none text-gray-700 pr-3">
                            <ng-container *ngFor="let currency of currencies">
                                <option>{{ currency.code }}</option>
                            </ng-container>
                        </select> -->

                        <!-- Salary Input (Middle) -->
                        <input formControlName="currentSalary" type="number" placeholder="Enter your current salary"
                            required
                            class="w-full px-2 py-2 outline-none text-sm placeholder-sm placeholder-[#14176CCC]/60 placeholder:text-xs">
                        <!-- Term Dropdown (Suffix) -->
                        <!-- <select formControlName="currentSalaryFrequency"
                            class="bg-transparent test-sm outline-none text-gray-700 pl-3">
                            <option>Yearly</option>
                            <option>Monthly</option>
                            <option>Weekly</option>
                            <option>Daily</option>
                            <option>Hourly</option>
                        </select> -->
                    </div>
                </div>
                <div class="mb-3">
                    <label class="mb-2 text-sm block font-medium text-[#14176C]">Expected CTC (Lakhs)</label>
                    <div
                        class="{{cvForm.get('expectedSalary')?.invalid && cvForm.get('expectedSalary')?.touched ? 'border-red-500 border-2' : ''}} flex items-center text-sm border border-blue-900 rounded w-full px-2 py-2">
                        <!-- Currency Dropdown (Prefix) -->
                        <!-- </select> -->
                        <!-- Salary Input (Middle) -->
                        <input formControlName="expectedSalary" type="number" placeholder="Enter your expected salary"
                            required
                            class="w-full px-2 py-2 outline-none text-sm placeholder-sm placeholder-[#14176CCC]/60 placeholder:text-xs">
                        <!-- Term Dropdown (Suffix) -->
                        <!-- <select formControlName="expectedSalaryFrequency"
                            class="bg-transparent test-sm outline-none text-gray-700 pl-3">
                            <option>Yearly</option>
                            <option>Monthly</option>
                            <option>Weekly</option>
                            <option>Daily</option>
                            <option>Hourly</option>
                        </select> -->
                    </div>
                </div>
                <div class="mb-3">
                    <label class="mb-2 text-sm block font-medium text-[#14176C]">Notice Period (Days)</label>
                    <div class="relative">
                        <!-- Select Dropdown with Dynamic Styling -->
                        <select formControlName="noticePeriod" id="notice" required
                            placeholder="Enter your notice period"
                            class="{{cvForm.get('noticePeriod')?.invalid && cvForm.get('noticePeriod')?.touched ? 'border-red-500 border-2' : ''}} border border-blue-900 p-3 rounded w-full outline-none  invalid:text-xs invalid:truncate invalid:text-[#14176CCC]/60 not-invalid:text-black not-invalid:text-sm">
                            <option value="" disabled selected hidden>Enter your notice period</option>
                            <option class="text-black text-sm">Immediate Joining</option>
                            <option class="text-black text-sm">7 days</option>
                            <option class="text-black text-sm">15 days</option>
                            <option class="text-black text-sm">30 days</option>
                            <option class="text-black text-sm">60 days</option>
                            <option class="text-black text-sm">90 days</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div class="mb-3">
                    <label class="mb-2 text-sm block font-medium text-[#14176C]">Current Location</label>
                    <input formControlName="currentLocation" type="text" placeholder="City, State"
                        class="{{cvForm.get('currentLocation')?.invalid && cvForm.get('currentLocation')?.touched ? 'border-red-500 border-2' : ''}} border placeholder-sm placeholder-[#14176CCC]/60  placeholder:text-xs border-blue-900 p-3 rounded w-full" />
                </div>
                <div class="mb-3">
                    <label class="mb-2 text-sm block font-medium text-[#14176C]">Comments</label>
                    <input type="text" placeholder="Anything Noteworthy"
                        class="border placeholder-sm placeholder-[#14176CCC]/60  placeholder:text-xs border-blue-900 p-3 rounded w-full" />
                </div>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-0 lg:gap-6">
                <div></div>
                <div class="mb-3">
                    <label class="mb-2 text-sm block font-medium text-[#14176C]">&nbsp;</label>
                    <button
                        class="cursor-pointer md:h-[48px] bg-primary text-white hover:bg-white hover:text-black py-3 lg:mt-1 px-4 text-sm rounded font-medium transition-all duration-300 2xl:text-base w-full">
                        Submit
                    </button>
                    <!-- <input type="button" placeholder="Anything Noteworthy"
                            class="border placeholder-sm placeholder-[#14176CCC]/60 border-blue-900 p-3 rounded w-full" /> -->
                </div>
            </div>

        </form>
    </div>
</section>
<app-footer></app-footer>