    <app-header [phoneVideoPath]="videoLink" [webVideoPath]="videoLink">

        <div
            class="text-white relative min-h-screen flex flex-col justify-center items-center px-6 sm:px-12 bg-center bg-no-repeat bg-fixed">

            <div class="absolute inset-0 bg-[#000000B2]"></div>


            <div
                class="relative z-10 w-full flex flex-col items-left text-left lg:text-left lg:items-start space-y-6 md:mt-20 lg:mt-0 px-6 sm:px-12 md:px-16">

                <h1 class="text-lg lg:text-4xl font-semibold md:leading-11">
                    Welcome to the <br>STARGATEz <span class="text-yellow-400">Partner Portal </span>
                </h1>
  
            </div>

        </div>
    </app-header>
    <!-- Section -->
    <section class="container mx-auto px-6 py-8 md:py-12 gap-12 items-center">
        <img class="rounded-2xl w-full" src="./assets/images/coworkers-team-working-brainstorming-concept 1.png"
            alt="Team Collaboration">
        <div class="w-full">
            <p class="font-medium mt-5 lg:text-base text-sm leading-relaxed">
                At <span class="text-yellow-400">STARGATEz</span>, collaboration is the cornerstone of our success. This
                Partner Portal serves as your gateway to seamless, transparent, and efficient collaboration, enabling
                you
                to share high-quality candidate profiles that meet the dynamic needs of our Customers.
            </p>
            <p class="font-medium mt-5 text-lg leading-relaxed">
                As a valued <span class="text-yellow-400">Partner</span>, you play an integral role in helping us
                deliver
                exceptional talent solutions.
            </p>
        </div>
    </section>

    <!-- Form Section -->
    <section class="container bg-[#14176C0D] 2xl:max-w-5xl xl:max-w-6xl md:p-10 mx-auto rounded-lg p-8 mt-6">
        <div>
            <form class="space-y-4">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                    <div>
                        <label class="block text-[#14176C] font-semibold">Partner Name</label>
                        <input type="text"
                            class="w-full border placeholder-[#14176CCC] truncate md:placeholder:text-base placeholder:text-xs border-blue-900 p-3 rounded-md"
                            placeholder="Full Name of the Company | Freelancer Name">
                    </div>
                    <div></div>
                    <div>
                        <label class="block text-[#14176C] font-semibold">Candidate Name</label>
                        <input type="text"
                            class="w-full border placeholder-[#14176CCC] border-blue-900 p-3 rounded-md truncate md:placeholder:text-base placeholder:text-xs"
                            placeholder="Candidate Name as it appears in the Resume">
                    </div>
                    <div>
                        <label class="block text-[#14176C] font-semibold">Candidate Phone Number</label>
                        <input type="text"
                            class="w-full placeholder-[#14176CCC] border border-blue-900 p-3 rounded-md truncate md:placeholder:text-base placeholder:text-xs"
                            placeholder="10 Digit Phone Number">
                    </div>
                    <div>
                        <label class="block text-[#14176C] font-semibold">Candidate Email ID</label>
                        <input type="email"
                            class="w-full placeholder-[#14176CCC] border border-blue-900 p-3 rounded-md truncate md:placeholder:text-base placeholder:text-xs"
                            placeholder="Valid Email ID">
                    </div>
                    <div>
                        <label class="block text-[#14176C] font-semibold">Role Applying For</label>
                        <input type="text"
                            class="w-full placeholder-[#14176CCC] border border-blue-900 p-3 rounded-md truncate md:placeholder:text-base placeholder:text-xs"
                            placeholder="Role Mentioned in the Job Description">
                    </div>

                </div>

                <div>
                    <label class="block text-[#14176C] font-semibold">Skills</label>
                    <textarea
                        class="w-full placeholder-[#14176CCC] border border-blue-900 p-3 rounded-md truncate md:placeholder:text-base placeholder:text-xs"
                        placeholder="Copy and Paste your entire Resume"></textarea>
                </div>

                <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                    <div>
                        <label class="block text-[#14176C] font-semibold">Total Experience (Years)</label>
                        <input type="text"
                            class="w-full placeholder-[#14176CCC] border border-blue-900 p-3 rounded-md truncate md:placeholder:text-base placeholder:text-xs"
                            placeholder="Example: 5 or 5.6 or 5.10">
                    </div>
                    <div>
                        <label class="block text-[#14176C] font-semibold">Relevant Experience (Years)</label>
                        <input type="text"
                            class="w-full placeholder-[#14176CCC] border border-blue-900 p-3 rounded-md truncate md:placeholder:text-base placeholder:text-xs"
                            placeholder="Example: 5 or 5.6 or 5.10">
                    </div>
                    <div>
                        <label class="block text-[#14176C] font-semibold">Current / Last Company</label>
                        <input type="text"
                            class="w-full placeholder-[#14176CCC] border border-blue-900 p-3 rounded-md truncate md:placeholder:text-base placeholder:text-xs"
                            placeholder="Name of the Current / Last Company">
                    </div>
                </div>

                <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                    <div>
                        <label class="block text-[#14176C] font-semibold">Current / Last CTC (Lakhs)</label>
                        <input type="text"
                            class="w-full placeholder-[#14176CCC] border border-blue-900 p-3 rounded-md truncate md:placeholder:text-base placeholder:text-xs"
                            placeholder="Example: 5 or 5.80 or 5.88">
                    </div>
                    <div>
                        <label class="block text-[#14176C] font-semibold">Expected CTC (Lakhs)</label>
                        <input type="text"
                            class="w-full placeholder-[#14176CCC] border border-blue-900 p-3 rounded-md truncate md:placeholder:text-base placeholder:text-xs"
                            placeholder="Example: 5 or 5.80 or 5.88">
                    </div>
                    <div>
                        <label class="block text-[#14176C] font-semibold">Notice Period (Days)</label>
                        <input type="text"
                            class="w-full placeholder-[#14176CCC] border border-blue-900 p-3 rounded-md truncate md:placeholder:text-base placeholder:text-xs"
                            placeholder="Number of Days">
                    </div>
                </div>

                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <div>
                        <label class="block text-[#14176C] font-semibold">Current Location</label>
                        <input type="text"
                            class="w-full placeholder-[#14176CCC] border border-blue-900 p-3 rounded-md truncate md:placeholder:text-base placeholder:text-xs"
                            placeholder="Location">
                    </div>
                    <div>
                        <label class="block text-[#14176C] font-semibold">Comments</label>
                        <input type="text"
                            class="w-full placeholder-[#14176CCC] border border-blue-900 p-3 rounded-md truncate md:placeholder:text-base placeholder:text-xs"
                            placeholder="Anything Noteworthy">
                    </div>
                </div>

                <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                    <div>
                        <label class="block font-medium text-[#14176C]">Attach Resume</label>
                        <label for="coverLetter" id="file_upload_block"
                            class="w-full flex items-center gap-2 px-4 py-2 mt-1 border border-gray-300 rounded-md text-center cursor-pointer text-gray-700 focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent hover:bg-gray-100">
                            <img class="h-6 w-6" src="./assets/images/upload_svgrepo.com.png" alt="">Choose File To
                            Upload
                        </label>
                        <input type="file" id="coverLetter" name="coverLetter" accept=".pdf,.doc,.docx" class="hidden">

                    </div>
                    <div>
                        <label class="block font-medium text-[#14176C]">&nbsp;</label>
                        <button
                            class="md:h-[48px] bg-primary text-white hover:bg-white hover:text-black py-3 lg:mt-1 px-4 text-sm rounded font-medium transition-all duration-300 2xl:text-base w-full">
                            Submit
                        </button>
                        <!-- <input type="button" placeholder="Anything Noteworthy"
                            class="border placeholder-[#14176CCC] border-blue-900 p-3 rounded w-full" /> -->
                    </div>
                </div>

            </form>
        </div>

    </section>


    <app-footer></app-footer>